<div class="container-fluid">   
	<div class="row" style="padding: 3em;">	

            <span>
                <button type="button" (click)="type=1">
                    Corporate
                </button>
           </span>

           <span>
                <button type="button" (click)="type=2">Reseller</button>
            </span>
            
            <span>
                <button type="button" (click)="type=3">Individual</button>
            </span>
            

    </div>

</div>

<ng-container [ngSwitch]="type">
    <form id = "corporate" *ngSwitchCase="1">
        Corporate Name:<br><input type="text"><br>
        Address:<br><textarea></textarea><br>
        VAT:<br><input type="text"><br>
        BRN:<br><input type="text"><br>
        Field of Activity:<br><input type="text"><br>
        Contact Person:<br><input type="text"><br>
        Telephone:<br><input type="tel"><br>
        Fax:<br><input type="tel"><br>
        Email Address:<br><input type="text"><br>
        Password:<br><input type="password"><br>
        Confirm Password:<br><input type="password"><br>
    
        <br>
        <input type="checkbox"><b>Accept Terms and Conditions*</b>By checking the box above and clicking Create Account, you acknowledge you have read and agreed to our Terms and Conditions<br>
        <button>Create Account</button>
    </form>   
    
    <form id="reseller" *ngSwitchCase="2">
        Registered Name:<br><input type="text"><br>
        Trading Name:<br><input type="text"><br>
        Address:<br><input type="textarea"><br>
        VAT:<br><input type="text"><br>
        BRN:<br><input type="text"><br>
        Field of Activity:<br><input type="text"><br>
        Contact Person:<br><input type="text"><br>
        Telephone:<br><input type="tel"><br>
        Fax:<br><input type="tel"><br>
        Email Address:<br><input type="text"><br>
        Password:<br><input type="password"><br>
        Confirm Password:<br><input type="password"><br>
    
        <br>
        <input type="checkbox"><b>Accept Terms and Conditions*</b>By checking the box above and clicking Create Account, you acknowledge you have read and agreed to our Terms and Conditions<br>
        <button>Create Account</button>
    </form>
    
    <form id="individual" *ngSwitchCase="3">
        First Name:<br><input type="text"><br>
        Last Name:<br><input type="text"><br>
        Address:<br><input type="textarea"><br>
        Telephone:<br><input type="tel"><br>
        Email Address:<br><input type="text"><br>
        Password:<br><input type="password"><br>
        Confirm Password:<br><input type="password"><br>
    
        <br>
        <input type="checkbox"><b>Accept Terms and Conditions*</b>By checking the box above and clicking Create Account, you acknowledge you have read and agreed to our Terms and Conditions<br>
        <button>Create Account</button>
    </form>
</ng-container>
