:host{
    display: block;
    padding-top: 169px;
}
// * {
//     font-family: 'Roboto', sans-serif;
// }

a, a:focus, a:active, a:hover {
    text-decoration: none;
}

main#content {
    padding: 20px 30px;

    h2.contactTitle{
        color:darkblue;
        font-weight: 700!important;
    }
    a.contactEmail{
        color:darkblue;
        text-decoration: underline;
    }
.imageRepeatMail{
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 20px;
            background-image: repeating-linear-gradient(
                    135deg, red 0px, rgb(241, 12, 12) 30px, transparent 30px, transparent 50px,
                    darkblue 50px, rgb(2, 2, 170) 80px, transparent 80px, transparent 100px
                ) !important;
        }
    form {
        >div label{
            font-weight: 700!important;
            color:darkblue;
            margin-bottom:-5px;
        }
        .formContentWhite{
            background: #fff;
        }        
    }
}

h2.background {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700 !important;
    position: relative;
    z-index: 1;
    
    &:before {
        border-top: 2px solid #dfdfdf;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 100%;
        z-index: -1;
    }

    span { 
        /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
        background: #fff; 
        padding: 0 15px; 
    }
}