<ng-container *ngIf="WishList$ | async as WishList;">
    <div id="wrapper" class="container-fluid">
        <main id="content" class="row d-flex flex-column flex-nowrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <h2><strong>Wishlist</strong></h2>
                    </div>

                    <div class="col-6 text-right ">
                        <a (click)="clearArray()" class="btn btn-primary ml-2"><i class="fas fa-times"></i>
                            &nbsp;&nbsp;Clear Wishlist</a>
                        <a (click)="addAllItems(WishList)" class="btn btn-primary ml-2"><i
                                class="fas fa-shopping-cart"></i>
                            &nbsp;&nbsp;Add all to cart</a>
                    </div>

                </div>

            </div>
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead class="thead-dark">
                        <tr class="cart_menu text-center">
                            <th class="imageSelector" width="40">
                                <div class="custom-control custom-checkbox checkbox-lg">
                                    <input type="checkbox" class="custom-control-input" id="selectAll">
                                    <label class="custom-control-label" for="selectAll"></label>
                                </div>
                            </th>
                            <th class="image" width="160"></th>
                            <th class="description" width="30%">Name</th>
                            <th class="price">Price</th>
                            <th class="quantity" width="135">Quantity</th>
                            <th class="total">Sub Total</th>
                            <th class="btnAdd"></th>
                            <th class="btnRemove"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let wish of WishList; index as i;">
                            <tr>
                                <td class="imageSelector align-middle" width="40">
                                    <div class="custom-control custom-checkbox checkbox-lg">
                                        <input (change)="addToArray(wish)" [checked]="wish.checked" type="checkbox"
                                            class="custom-control-input" id="{{wish.product.id}}">
                                        <label class="custom-control-label" for="{{wish.product.id}}"></label>
                                    </div>
                                </td>
                                <td class="cart_product ">
                                    <a routerLink="/product/{{wish.product.id}}">
                                        <img onerror="this.src='/assets/img/product-not-found.jpg'"
                                            src="https://api.deloffice.mu/images/product/{{wish.product.id}}.jpg"
                                            class="d-block img-fluid" width="110" title="" alt="" />
                                    </a>
                                </td>
                                <td class="cart_description">
                                    <h4>{{wish.product.des1}}</h4>
                                    <p>
                                        {{wish.product.des2}}<br>
                                        {{wish.product.des3}}<br>
                                        <strong>Product Code :</strong> {{wish.product.id}}
                                    </p>
                                </td>
                                <td class="cart_price align-middle text-center">
                                    <div>Rs {{wish.product.mainprice | number: '1.2-2'}}</div>
                                </td>
                                <td class="cart_quantity align-middle">
                                    <input (change)="updateQtyInWishlist($event, i)" #qty
                                        class="form-control text-center" type="number" value="{{wish.quantity}}">
                                </td>
                                <td class="cart_total align-middle text-center">
                                    <p>Rs {{wish.product.mainprice*wish.quantity | number: '1.2-2'}} </p>
                                </td>
                                <td class="cart_delete align-middle text-center">
                                    <a (click)="addToCart(wish, qty.value, i)"
                                        class="btn btn-primary cart_quantity_delete">
                                        <i class="fas fa-cart-arrow-down">&nbsp;&nbsp;Add to Cart</i>
                                    </a>
                                </td>
                                <td class="cart_delete align-middle text-center">
                                    <a (click)="removeFromWishlist(i)" class="btn btn-primary cart_quantity_delete">
                                        <i class="far fa-trash-alt">&nbsp;&nbsp;Remove</i>
                                    </a>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="8"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-right">
                        <a (click)="addSelected()" class="btn btn-primary ml-2"><i class="fas fa-shopping-cart"></i>
                            &nbsp;&nbsp;Add Selected to cart</a>
                    </div>

                </div>

            </div>
        </main>
    </div>
</ng-container>