<ng-container>
    <div id="wrapper" class="container-fluid">
        <main id="content" class="row d-flex flex-column flex-nowrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-9">
                        <h2><strong>Wishlist</strong></h2>
                    </div>

                    <div class="col-3 text-right ">
                        <a href="#" class="btn btn-primary ml-2"><i class="fas fa-times"></i>
                            &nbsp;&nbsp;Clear Wishlist</a>
                        <a href="#" class="btn btn-primary ml-2"><i class="fas fa-shopping-cart"></i>
                            &nbsp;&nbsp;Add all to cart</a>
                    </div>

                </div>

            </div>
            <div class="table-responsive cart_info">
                <table class="table table-striped table-condensed">
                    <thead class="thead-dark">
                        <tr class="cart_menu text-center">
                            <th class="imageSelector" width="40">
                                <div class="custom-control custom-checkbox checkbox-lg">
                                    <input type="checkbox" class="custom-control-input" id="selectAll">
                                    <label class="custom-control-label" for="selectAll"></label>
                                </div>
                            </th>
                            <th class="image" width="160"></th>
                            <th class="description" width="30%">Name</th>
                            <th class="price">Price</th>
                            <th class="quantity" width="135">Quantity</th>
                            <th class="total">Sub Total</th>
                            <th class="btnAdd"></th>
                            <th class="btnRemove"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container>
                            <tr>
                                <td class="imageSelector align-middle" width="40">
                                    <div class="custom-control custom-checkbox checkbox-lg">
                                        <input type="checkbox" class="custom-control-input" id="prodID">
                                        <label class="custom-control-label" for="prodID"></label>
                                    </div>
                                </td>
                                <td class="cart_product ">
                                    <a href=""><img src="https://via.placeholder.com/1000x1000.png"
                                            class="d-block img-fluid" width="110" title="" alt="" /></a>
                                </td>
                                <td class="cart_description">
                                    <h4><a href=""></a></h4>
                                    <p>
                                        <strong>Multi-Purpose White Copy Paper<br></strong>
                                        A4 White- 80gsm [Ream: 500 Sheets]<br>
                                        <strong>Brand:</strong> Paperline<br>
                                        <strong>Product Code:</strong> OA023990
                                    </p>
                                </td>
                                <td class="cart_price align-middle text-center">
                                    <div>Rs xxx</div>
                                </td>
                                <td class="cart_quantity align-middle">
                                    <input class="form-control text-center" type="number" value="1"
                                        id="example-number-input">
                                </td>
                                <td class="cart_total align-middle text-center">
                                    <p>Rs xxx </p>
                                </td>
                                <td class="cart_delete align-middle text-center">
                                    <a class="btn btn-primary cart_quantity_delete">
                                        <i class="fas fa-cart-arrow-down">&nbsp;&nbsp;Add to Cart</i>
                                    </a>
                                </td>
                                <td class="cart_delete align-middle text-center">
                                    <a class="btn btn-primary cart_quantity_delete">
                                        <i class="far fa-trash-alt">&nbsp;&nbsp;Remove</i>
                                    </a>
                                </td>
                            </tr>
                        </ng-container>
                        <tr>
                            <td class="imageSelector align-middle" width="40">
                                <div class="custom-control custom-checkbox checkbox-lg">
                                    <input type="checkbox" class="custom-control-input" id="prodID">
                                    <label class="custom-control-label" for="prodID"></label>
                                </div>
                            </td>
                            <td class="cart_product ">
                                <a href=""><img src="https://via.placeholder.com/1000x1000.png"
                                        class="d-block img-fluid" width="110" title="" alt="" /></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href=""></a></h4>
                                <p>
                                    <strong>Multi-Purpose White Copy Paper<br></strong>
                                    A4 White- 80gsm [Ream: 500 Sheets]<br>
                                    <strong>Brand:</strong> Paperline<br>
                                    <strong>Product Code:</strong> OA023990
                                </p>
                            </td>
                            <td class="cart_price align-middle text-center">
                                <div>Rs xxx</div>
                            </td>
                            <td class="cart_quantity align-middle">
                                <input class="form-control text-center" type="number" value="1"
                                    id="example-number-input">
                            </td>
                            <td class="cart_total align-middle text-center">
                                <p>Rs xxx </p>
                            </td>
                            <td class="cart_delete align-middle text-center">
                                <a class="btn btn-primary cart_quantity_delete">
                                    <i class="fas fa-cart-arrow-down">&nbsp;&nbsp;Add to Cart</i>
                                </a>
                            </td>
                            <td class="cart_delete align-middle text-center">
                                <a class="btn btn-primary cart_quantity_delete">
                                    <i class="far fa-trash-alt">&nbsp;&nbsp;Remove</i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="imageSelector align-middle" width="40">
                                <div class="custom-control custom-checkbox checkbox-lg">
                                    <input type="checkbox" class="custom-control-input" id="prodID">
                                    <label class="custom-control-label" for="prodID"></label>
                                </div>
                            </td>
                            <td class="cart_product ">
                                <a href=""><img src="https://via.placeholder.com/1000x1000.png"
                                        class="d-block img-fluid" width="110" title="" alt="" /></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href=""></a></h4>
                                <p>
                                    <strong>Multi-Purpose White Copy Paper<br></strong>
                                    A4 White- 80gsm [Ream: 500 Sheets]<br>
                                    <strong>Brand:</strong> Paperline<br>
                                    <strong>Product Code:</strong> OA023990
                                </p>
                            </td>
                            <td class="cart_price align-middle text-center">
                                <div>Rs xxx</div>
                            </td>
                            <td class="cart_quantity align-middle">
                                <input class="form-control text-center" type="number" value="1"
                                    id="example-number-input">
                            </td>
                            <td class="cart_total align-middle text-center">
                                <p>Rs xxx </p>
                            </td>
                            <td class="cart_delete align-middle text-center">
                                <a class="btn btn-primary cart_quantity_delete">
                                    <i class="fas fa-cart-arrow-down">&nbsp;&nbsp;Add to Cart</i>
                                </a>
                            </td>
                            <td class="cart_delete align-middle text-center">
                                <a class="btn btn-primary cart_quantity_delete">
                                    <i class="far fa-trash-alt">&nbsp;&nbsp;Remove</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="8"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-right">
                        <a href="#" class="btn btn-primary ml-2"><i class="far fa-trash-alt"></i>
                            &nbsp;&nbsp;Remove Selected</a>
                        <a href="#" class="btn btn-primary ml-2"><i class="fas fa-shopping-cart"></i>
                            &nbsp;&nbsp;Add Selected to cart</a>
                    </div>

                </div>

            </div>
        </main>
    </div>
</ng-container>