a, a:focus, a:active, a:hover {
    text-decoration: none;
}
:host{
    display: block;
}
h5 {
    &.custom-heading {
        text-transform: uppercase;
        color: white;
        margin: 0;
        margin-bottom: 15px;
        font-size: 18px;
        display: block;
        text-align: center;
        padding: 7px;
        background-image: url('/assets/img/banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-color: blue;
        border: 1px solid rgb(11, 11, 88);
    }
}

h2.background {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700 !important;
    position: relative;
    z-index: 1;
    
    &:before {
        border-top: 2px solid #dfdfdf;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 100%;
        z-index: -1;
    }

    span { 
        /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
        background: #fff; 
        padding: 0 15px; 
    }
}

main#content {
    padding: 20px 30px;
}

nav.card {
    a {
        display: block;
        padding: 5px 25px;
        font-size: 14px;
        text-transform: uppercase;
        color:black;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-weight: 500;
        li {
            span {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 8px 20px;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                color:black;
                .fa, .far, .fas {
                    font-family: "Font Awesome 5 Free";
                }
            }
            a {
                display: flex;
                justify-content: space-between;
            }
            ul.collapse {
                list-style: none;
                margin: 0;
                
                li {
                    a {
                    }
                }
            }
        }
    }
}
.useful-links {
    ul {
        li {
            background-image: url('/assets/img/banner.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-color: white;
            color: white;
            border-bottom: 1px;
            border-color: white;
            flex: 1;
            height: 10vh;
            max-height: 20%!important;

            &:hover {
                color: red;
                cursor: pointer;
            }

            h6 {
                font-size: 1.5rem;                
            }

            p {
                font-size: .9rem;
            }
            img{
                max-width: auto;
	            height: 100% !important;                
            }
            
        }
    }
}

.modal#somethingElseModal {
    .modal-body{
        z-index: 100;
    }
    .modal-content{
        overflow:hidden;
    }
    .form-control {
        height: 55px;
        border-radius: 10px;
        padding-left:15px;
        z-index: 80;
        &:focus {
            color: #495057;
            background-color: #fff;
            border-color: #007b5e;
            outline: 0;
            box-shadow: none;
        }
        > .row{
            margin-left: 0;
            margin-right: 0;
        }
        > .col-form-label{
            text-align: right !important;
            padding-right: 8px;
        }
        textarea #msg{
            height: 100px;
            min-height: 100px;
        }
    }
    .btn {
        border-radius: 10px;
        padding-right:20px;
        background:darkblue;
        border-color:darkblue;
    }
    
    .modal-lg .top-strip {
        height: 155px;
        background: #1518b3;
        transform: rotate(141deg);
        margin-top: -106px;
        margin-right: 457px;
        margin-left: -130px;
        border-bottom: 65px solid lightgrey;
        border-top: 10px solid darkgrey;
    }
    .modal-lg .bottom-strip {
        height: 155px;
        background: darkblue;
        transform: rotate(135deg);
        margin-top: -90px;
        margin-right: -339px;
        margin-left: 421px;
        border-bottom: 65px solid lightgray;
        border-top: 10px solid lightgray;
    }
}

#products {
    > div {
        &:not(:nth-child(4)) {
            border-right: 1px solid rgba(#000, 0.3);
        }

        .card {
            box-shadow: none;
            border: 0px solid transparent;
            border-radius: 0px;

            .card-img-top {
                border-radius: 0px;
            }

            .card-body {
                padding: 15px 0px;

                h5.card-title {
                    font-size: .90rem;
                    line-height: 1.3rem;
                }

                p.card-text {
                    font-size: .90rem;
                }

                span#cart {
                    * {
                        margin-right: 10px;
                    }
                    input[type=number] {
                        width: 50px;
                    }
                    a {
                        display: block;
                    }
                }
            }
        }
    }
}

.aspect-ratio-93 {
    position: relative;
    width: 100%;
    padding-top: 100%;
}