<ng-container *ngIf="home1$ | async as homeadvert;">
    <div id="wrapper" class="container-fluid">
        <main id="content" class="row d-flex flex-column flex-nowrap">
            <div class="aspect-ratio-container A653-234 mb-3">
                <div class="frame">
                    <div class="row  w-100 mx-0 h-100">
                        <div class="col-lg-9 col-md-9 col-12 px-lg-0">

                            <div id="sliderElement" class="carousel slide w-100" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <ng-container *ngFor="let carouselH of homeadvert['homeCarousel']; index as i;">
                                        <li data-target="#sliderElement" [attr.data-slide-to]="i"
                                            [class.active]="i === 0"></li>
                                    </ng-container>
                                </ol>
                                <div class="carousel-inner h-100">
                                    <ng-container *ngFor="let carouselH of homeadvert['homeCarousel']; index as i;">
                                        <div class="carousel-item  w-100" [class.active]="i === 0">
                                            <img src="https://api.deloffice.mu/images/product/{{carouselH}}"
                                                class="d-block w-100 img-fluid" alt="...">
                                        </div>
                                    </ng-container>
                                </div>
                                <a class="carousel-control-prev" href="#sliderElement" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#sliderElement" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-3 d-none d-md-block px-lg-0">
                            <div class="useful-links card h-100">
                                <ul class="list-group list-group-flush h-100">
                                    <li routerLink="/promo/new-arrival" class="list-group-item p-0 d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="span p-3">                                                
                                                <h6>New Arrivals</h6>
                                                <p class="m-0">
                                                    Discover them all year round
                                                </p>                                                
                                            </div>
                                        </div>
                                        <img src="https://api.deloffice.mu/images/product/{{homeadvert.newarrival}}"
                                            alt="" class="">
                                    </li>                                    
                                    <li routerLink="/promo/special-offers" class="list-group-item p-0 d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="span p-3">
                                                <h6>Special Offers</h6>
                                                <p class="m-0">
                                                    All our super deals in one place
                                                </p>
                                            </div>
                                        </div>
                                        <img src="https://api.deloffice.mu/images/product/{{homeadvert.specialoffer}}"
                                            alt="" class="">
                                    </li>
                                    <li routerLink="/promo/clearance-sales" class="list-group-item p-0 d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="span p-3">
                                                <h6>Clearance Sales</h6>
                                                <p class="m-0">
                                                    End of series. All must go.
                                                </p>
                                            </div>
                                        </div>
                                        <img src="https://api.deloffice.mu/images/product/{{homeadvert.clearancesale}}"
                                            alt="" class="">
                                    </li>
                                    <li routerLink="/promo/best-sellers" class="list-group-item p-0 d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="span p-3">
                                                <h6>Best Sellers</h6>
                                                <p class="m-0">
                                                    Spotlight on our top selling products
                                                </p>
                                            </div>
                                        </div>
                                        <img src="https://api.deloffice.mu/images/product/{{homeadvert.bestseller}}"
                                            alt="" class="">
                                    </li>
                                    <li class="list-group-item p-0 d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="span p-3">
                                                <a type="button" data-toggle="modal" data-target="#somethingElseModal">
                                                    <h6>Something Else</h6>
                                                    <p class="m-0">
                                                        Fast track. Tell us what you need.
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                        <img src="https://api.deloffice.mu/images/product/{{homeadvert.somethingelse}}"
                                            alt="" class="">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <!-- 1500x180px -->
                    <div class="" style="width: 100%; position: relative; overflow: hidden; padding-top: 12%;">
                        <div class="d-flex align-items-center"
                            style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;">
                            <img id="Full-Width-Banner"
                                src="https://api.deloffice.mu/images/product/{{homeadvert.FullWidthBanner}}" alt=""
                                class="img-fluid w-100 ">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3 col-md-3 d-none d-md-block">
                    <app-slidebar></app-slidebar>
                </div>

                <div class="col-lg-9 col-md-9 col-12">
                    <h5 class="custom-heading">Featured Products</h5>
                    <div class="row mx-lg-n2">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/1003">
                                <img src="https://api.deloffice.mu/images/product/1003.jpg" alt="paper" class="img-fluid border w-100">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/21">
                                <img src="\assets\img\features\21.jpg" alt="envelopes" class="img-fluid border w-100">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/130">
                                <img src="\assets\img\features\130.jpg" alt="pens" class="img-fluid border w-100">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/23">
                                <img src="\assets\img\features\23.jpg" alt="files" class="img-fluid border w-100">
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/167">
                                <img src="\assets\img\features\167.jpg" alt="staplers" class="img-fluid border w-100">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/168">
                                <img src="\assets\img\features\168.jpg" alt="punches" class="img-fluid border w-100">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/143">
                                <img src="\assets\img\features\143.jpg" alt="calculators"
                                    class="img-fluid border w-100">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/92">
                                <img src="\assets\img\features\92.jpg" alt="ringfiles" class="img-fluid border w-100">
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/146">
                                <img src="\assets\img\features\146.jpg" alt="papertrimmer"
                                    class="img-fluid border w-100">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/114">
                                <img src="\assets\img\features\114.jpg" alt="shredders" class="img-fluid border w-100">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/48">
                                <img src="\assets\img\features\48.jpg" alt="laminators" class="img-fluid border w-100">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/46">
                                <img src="\assets\img\features\46.jpg" alt="bindingmachine"
                                    class="img-fluid border w-100">
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/57">
                                <img src="\assets\img\features\57.jpg" alt="flipcharts" class="img-fluid border w-100">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/83">
                                <img src="\assets\img\features\83.jpg" alt="displaybooks"
                                    class="img-fluid border w-100">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/308">
                                <img src="\assets\img\features\308.jpg" alt="notebooks" class="img-fluid border w-100">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/99">
                                <img src="\assets\img\features\99.jpg" alt="index" class="img-fluid border w-100">
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/180">
                                <img src="\assets\img\features\180.jpg" alt="tape" class="img-fluid border w-100">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/139">
                                <img src="\assets\img\features\139.jpg" alt="rulers" class="img-fluid border w-100">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/186">
                                <img src="\assets\img\features\186.jpg" alt="trays" class="img-fluid border w-100">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/279">
                                <img src="\assets\img\features\279.jpg" alt="bins" class="img-fluid border w-100">
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/198">
                                <img src="\assets\img\features\198.jpg" alt="coffee" class="img-fluid border w-100">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/200">
                                <img src="\assets\img\features\200.jpg" alt="sugar" class="img-fluid border w-100">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/204">
                                <img src="\assets\img\features\204.jpg" alt="biscuits" class="img-fluid border w-100">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/268">
                                <img src="\assets\img\features\268.jpg" alt="facial" class="img-fluid border w-100">
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/276">
                                <img src="\assets\img\features\276.jpg" alt="handwashers"
                                    class="img-fluid border w-100">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/233">
                                <img src="\assets\img\features\233.jpg" alt="bleach" class="img-fluid border w-100">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/237">
                                <img src="\assets\img\features\237.jpg" alt="dishcleaners"
                                    class="img-fluid border w-100">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-2 mb-3 ">
                            <a routerLink="/category/258">
                                <img src="\assets\img\features\258.jpg" alt="mps" class="img-fluid border w-100">
                            </a>
                        </div>



                    </div>
                </div>

            </div>
            <div class="row mb-3 mx-0">

                <div class="w-100">
                    <h2 class="background"><span>Buying Guide</span></h2>
                </div>
            </div>
            <div class="row mb-3 mx-n1">
                <div class="col-lg-9 px-2">
                    <div class="aspect-ratio-container HB-A">
                        <div class="frame">
                            <img id="Home-Banner-A"
                                src="https://api.deloffice.mu/images/product/{{homeadvert.HomeBannerA}}"
                                class=" img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 px-2">
                    <div class="aspect-ratio-container HB-B">
                        <div class="frame">
                            <img id="Home-Banner-B"
                                src="https://api.deloffice.mu/images/product/{{homeadvert.HomeBannerB}}"
                                class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3 mx-n1">
                <div class="col-lg-4 px-2 h-100">
                    <img id="Home-Banner-C" src="https://api.deloffice.mu/images/product/{{homeadvert.HomeBannerC}}"
                        class="img-fluid">

                </div>
                <div class="col-lg-4 px-2">
                    <div class="aspect-ratio-container HB-C3">
                        <div class="frame">
                            <img id="Home-Banner-D"
                                src="https://api.deloffice.mu/images/product/{{homeadvert.HomeBannerD}}"
                                class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 px-2">
                    <div class="aspect-ratio-container HB-C3">
                        <div class="frame">
                            <img id="Home-Banner-E"
                                src="https://api.deloffice.mu/images/product/{{homeadvert.HomeBannerE}}"
                                class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3 mx-n1">
                <div class="col-lg-6 px-2">
                    <div class="aspect-ratio-container HB-C3">
                        <div class="frame">
                            <img id="Home-Banner-F"
                                src="https://api.deloffice.mu/images/product/{{homeadvert.HomeBannerF}}"
                                class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 px-2">
                    <div class="aspect-ratio-container HB-C3">
                        <div class="frame">
                            <img id="Home-Banner-G"
                                src="https://api.deloffice.mu/images/product/{{homeadvert.HomeBannerG}}"
                                class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3 mx-0">
                <div class="w-100">
                    <h2 class="background"><span>WE STOCK ALL LEADING STATIONERY BRANDS</span></h2>
                </div>
            </div>
            <div class="row mb-3 mx-0">
                <div class="w-100 text-justify">
                    <p>
                        DelOffice stocks one of the largest ranges of office supplies and stationery products in Mauritius.  Our
                        mission is to offer our customers outstanding service and quality products on a fast service.
                    </p>
                    <p>
                        When it comes to buying products online, choosing the right product can prove difficult, that's why we've 
                        structured our website to ensure you find the category you need in as little clicks as possible.
                    </p>
                </div>
            </div>
            <div class="row mb-3 mx-n1">
                <div class="col-lg-6 px-2">
                    <div class="aspect-ratio-container A1-5">
                        <div class="frame">
                            <img id="Home-Banner-H"
                                src="https://api.deloffice.mu/images/product/{{homeadvert.HomeBannerH}}"
                                class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 px-2">
                    <div class="aspect-ratio-container A1-5">
                        <div class="frame">
                            <img id="Home-Banner-I"
                                src="https://api.deloffice.mu/images/product/{{homeadvert.HomeBannerI}}"
                                class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3 mx-n1">
                <div class="col-lg-4 px-2">
                    <div class="aspect-ratio-container A9-20">
                        <div class="frame">
                            <img id="Home-Banner-J"
                                src="https://api.deloffice.mu/images/product/{{homeadvert.HomeBannerJ}}"
                                class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 px-2">
                    <div class="aspect-ratio-container A9-20">
                        <div class="frame">
                            <img id="Home-Banner-K"
                                src="https://api.deloffice.mu/images/product/{{homeadvert.HomeBannerK}}"
                                class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 px-2">
                    <div class="aspect-ratio-container A9-20">
                        <div class="frame">
                            <img id="Home-Banner-L"
                                src="https://api.deloffice.mu/images/product/{{homeadvert.HomeBannerL}}"
                                class="img-fluid">
                        </div>
                    </div>
                </div>

            </div>
        </main>
    </div>

    <!-- subscribe Modal -->
    <div class="modal fade text-center subscribeModal-lg" id="somethingElseModal" tabindex="-1" role="dialog"
        aria-labelledby="somethingElseModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body align-middle">
                    <div class="top-strip"></div>
                    <img src="\assets\img\logo.svg" alt="deloffice_logo" class="img-fluid mt-2" width="300px">
                    <h2 class="mb-0">Product Inquiry</h2>
                    <p class="text-muted">
                        Need something that you can't find in our store?<br>
                        Leave us a message here. Our Team will be happy to assist.
                    </p>
                    <form (ngSubmit)="inquirySend()" [formGroup]="inquiryForm" class="justify-content-center">
                        <div class="form-group row">
                            <label for="name" class="col-1 offset-1 col-form-label">Name:</label>
                            <div class="col-9">
                                <input id="name" name="name" placeholder="Enter Your Name" type="text" class="form-control"
                                    required="required" formControlName="name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="email" class="col-2 offset-2 col-form-label">Email:</label>
                                    <div class="col-8">
                                        <input id="email" name="email" placeholder="Enter Email" type="text"
                                        class="form-control" required="required" formControlName="from">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="subject" class="col-2 col-form-label">Subject:</label>
                                    <div class="col-8">
                                        <input id="subject" name="subject" placeholder="Enter Subject" type="text"
                                            class="form-control" formControlName="subject">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="form-group row">
                            <label for="phone" class="col-1 offset-1 col-form-label">Phone:</label>
                            <div class="col-9">
                                <input id="phone" name="phone" placeholder="Enter Phone" type="text"
                                    class="form-control" formControlName="phone">
                            </div>
                        </div>                        
                        <div class="form-group row">
                            <label for="msg" class="col-1 offset-1 col-form-label">Message:</label>
                            <div class="col-9">
                                <textarea id="msg" name="msg" rows="5" class="form-control"
                                    aria-describedby="msgHelpBlock" style="height: 100px;"
                                    formControlName="text"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="mx-auto">
                                <div class="g-recaptcha" data-sitekey="6LfewmwUAAAAADfCuS1MzYnP0MSfMgxKfBT2d3D9">
                                </div>
                            </div>
                        </div>                        
                        <div class="form-group row">                            
                            <div class="mx-auto">
                                <button name="submit" type="submit" class="btn btn-primary text-center">
                                    Submit <i class="fa fa-paper-plane pl-3"></i>
                                </button>
                            </div>
                        </div>

                    </form>
                    <div class="bottom-strip"></div>
                </div>
            </div>
        </div>
    </div>
</ng-container>