<div class="container-fluid">   
	<div class="row" style="padding: 3em;">		
        <div class="col-sm-6 col-sm-offset-1">
        <form>
            <h4>Login to your account</h4>
            <input type="text" placeholder="Email Address" name="uname" required><br>
            <input type="password" placeholder="Password" name="psw" required><br>
      
            <button type="submit">Login</button><br>

            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me<br>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </label>
        </form>
        </div>
 
        
        <div class="col-sm-6">
            <div class="signup-form"><!--sign up form-->
            <h2 style="font-size:22px"><b>New User Signup!</b></h2>
                <form action="register.php">
                    <span style="font-size:15px">Benefit from offers and save time & money by being a member of the DelOffice community.</span>
                <br><br><br>
                <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div><!--/sign up form-->
</div>