<div class="container-fluid px-0">
    <div class="furniture-banner">
        <img src="assets\img\termsnconditions.jpg" alt="" class="w-100">
        <div class="container title d-none d-xl-block">
            <h1 class="d-none d-xl-block">Terms and Conditions</h1>
        </div>
        <div class="container title d-block d-sm-none">
            <h5 class="">Terms and Conditions</h5>
        </div>
    </div>
    <div class="w-100 mb-3 d-none d-sm-block">
        <img src="assets\img\Terms and conditions_1170x7050.png" alt="Terms and Conditions" class="w-100">
    </div>
    <div class="d-block d-sm-none p-2">
        <p class="text-justify">
            By using or accessing this site, you acknowledge that you have read, understood, and agree to be bound by
            these Terms of Use. If you do not agree to these Terms of Use, please do not use this site
        </p>

        <h6>1. Information about us</h6>
        <p class="text-justify">
            www.deloffice.mu is owned and operated by DelOffice Ltd.
            Our Business Registration number is C10095690
            Our VAT number is 27014165
        </p>

        <h6>2.Service availability</h6>
        <p class="text-justify">
            We only accept orders from people, business entities and organisations resident in Mauritius. We do not
            accept orders from outside of Mauritius.
        </p>

        <h6>3.Your status</h6>
        <p class="text-justify">
            By placing an order through our site or on the telephone, you warrant that:
            •You are legally capable of entering into binding contracts<br>
            •You are at least 18 years old<br>
            •You are resident in Mauritius<br>
        </p>

        <h6>4. How the contract is formed between you and us</h6>
        <p class="text-justify">
            •After placing an online order, you will receive an email from us acknowledging that we have received your
            order.Please note that this does not mean that your order has been accepted. Your order constitutes an offer
            to us to buy a Product or Service. All telephone and online orders are subject to acceptance by us, and we
            will confirm such acceptance to you either during our telephone conversation or, in the case of online
            orders, by sending you a VAT invoice (such oral or email confirmation being the Dispatch Confirmation). The
            contract between us (The Contract) will only be formed when we provide you with the VAT invoice.<br><br>

            •You acknowledge that, by placing your order, you are agreeing to pay for and accept delivery of the goods
            ordered unless you ask us to cancel that order, and we send you written confirmation of the cancellation
            prior to the goods being dispatched to you. DelOffice may change the prices published on this website at any
            time. Prices of products placed in the ‘basket’ but not paid for are also subject to change and you agree to
            pay the price current at the time of payment. Every effort has been made to ensure the accuracy of prices,
            images and information displayed on this site but DelOffice is not responsible for any error and reserves
            the right to accept or reject your offer for any reason, including without limitation, the unavailability of
            any product, an error in the price, image or the product description posted on this site, or an error in
            your order. We may require additional verification or information before accepting any order.<br><br>

            •The Contract will relate only to those Products the dispatch of which we have confirmed in the Dispatch
            Confirmation.We will not be obliged to supply any other Products which may have been part of your order
            until the dispatch of such Products has been confirmed.
        </p>

        <h6>5. Our status</h6>
        <p class="text-justify">
            This site may contain information from hyperlinks and other pointers to internet websites operated by third
            parties.Such information or websites are not under the control of DelOffice and DelOffice is not responsible
            for the contents of any such information or website. DelOffice provides such information and hyperlinks to
            you as convenience only, and the inclusion of any link does not imply any endorsement of the linked website
            by DelOffice. You rely on such information or websites entirely at your own risk.
        </p>

        <h6>6.Consumer rights</h6>
        <p class="text-justify">
            • If you are contracting as a consumer, you may cancel a Contract at any time within two working days,
            beginning on the day after you receive the Products. In this case, you will receive a full refund of the
            price paid for the Products less delivery costs in accordance with our Refund Policy (set out in clause 10
            below).<br>
            • To cancel a Contract within the two days period, you must inform us in writing and return the Product(s)
            to us immediately. Returned Product(s) in respect of which you wish to receive a refund must be in the same
            condition in which you received them and in their original packaging (including all paperwork, manuals and
            parts).<br>
            • You will not have any right to cancel a Contract for the supply of any Product which have been
            manufactured or ordered by us to your specifications.
        </p>

        <h6>7.Delivery</h6>
        <p class="text-justify">
            •Delivery timeframes and charges are contained in our Delivery Policy which is subject to change from time
            to time.<br>
            •Delivery of the goods shall occur when the goods arrive at your delivery address or at such place as may be
            agreed between us in writing.<br>
            • Failure to meet any delivery time stated shall not give you the right to claim damages or to cancel the
            Contract.<br>
            • Any date which is given or agreed for delivery shall in every case be dependent upon prompt receipt of all
            necessary information and your final instructions or approvals.<br>
            • Should you fail to take delivery of any one or more instalments of goods delivered in accordance with the
            Contract shall entitle us to treat the Contract as repudiated by you either in whole or in part.<br>
            • We will endeavour to comply with your reasonable requests to postpone delivery of goods but shall be under
            no obligation to do so. Where delivery is postponed, otherwise than due to our default then, without
            prejudice to all our other rights and remedies available, you shall pay all costs and expenses, including a
            reasonable charge for storage, insurance and transportation so occasioned.<br>
            • If a Product ordered by you is not in stock we will order it for you. If this will result in a delay in
            delivery, we will contact you to give you the option to cancel.<br>
        </p>

        <h6>8.Risk and title</h6>
        <p class="text-justify">
            •The Products will be at your risk from the time of delivery.<br>
            •Ownership of the Products will only pass to you when we receive full payment of all sums due in respect of
            the Products, including delivery charges (if any).
        </p>

        <h6>9.Price and Payment</h6>
        <p class="text-justify"></p>
        <u>Price</u><br>
        •The price of any Product will be as quoted on our site from time to time, except in cases of obvious error.<br>
        • All our prices are exclusive of VAT.<br>
        • Prices are liable to change at any time, but changes will not affect orders in respect of which we have
        already
        provided a Dispatch Confirmation.<br>
        • Our site contains a large number of Products and it is always possible that, despite our best efforts, some of
        the Products listed on our site may be incorrectly priced. We will normally verify prices as part of our
        dispatch procedures so that, where a Product’s correct price is less than our stated price, we will charge the
        lower amount when dispatching the Product to you. If a Product’s correct price is higher than the price stated
        on our site we might at our discretion decide to honour the lower (incorrect) price or either contact you for
        instructions before dispatching the Product, or reject your order and notify you of such rejection.<br>
        • We are under no obligation to provide the Product to you at the incorrect (lower) price even after we have
        provided you with a Dispatch Confirmation.<br>
        • Your login and password will give you access to discounted prices, special offers and deals which are not
        available publicly. You agree to take reasonable steps to ensure that such information are kept confidential
        within your organisation and not to communicate our prices to any third party.<br><br>
        <u>PAYMENT</u><br>
        • Unless otherwise agreed by us in writing, payment shall be made by cheque on delivery of goods. Cheques shall
        be
        made payable to DelOffice Ltd. We do not accept cash payment for security reasons unless you have been advised
        to do so or prior arrangement has been made.<br>
        • Business customers may apply for credit facilities. Application for credit facilities should be done online
        and approval takes approximately one week. In case your request is approved, a credit facility shall be granted
        to you subject to a Credit Limit. We shall be entitled to revise or withdraw the credit facility at any time
        without notice, justification and prejudice.<br>
        • Unless otherwise agreed by us in writing, payment for credit invoices shall be due and payable within 30 days
        of date of invoice in Mauritian rupee and shall be made without any set-off, counterclaim or deduction
        whatsoever.<br>
        • We shall be entitled to submit our invoice on delivery of goods at your premises unless otherwise agreed in
        writing.<br>
        • Where goods are delivered by instalments we will invoice each instalment separately and you shall pay such
        invoices in accordance with these conditions.<br>
        • No disputes arising under the Contract nor delays (other than delays acknowledged by us in writing), shall
        interfere with your prompt payment in full.<br>
        • Should you fail to pay the invoice by the due date, we shall be entitled, without prejudice to any other right
        or remedy,to do all or any of the following:<br>
        • to suspend any or all further deliveries under the Contract and under any other contract or contracts between
        us then current, without notice;<br>
        • to withdraw your credit facility without notice even though you have not utilised fully the authorised Credit
        Limit;<br>
        • to charge interest on any amount outstanding at the rate of 5% per annum above the base rate of the Mauritius
        Commercial Bank Ltd from the date on which payment was due until the actual date of payment such interest
        being charged as a separate, continuing obligation not merging with any judgment together with any statutory
        debt recovery costs;<br>
        • where trade discounts are granted by us, to charge you back such discounts;<br>
        • to charge you for all costs and expenses including without limitation 10% Attorney’s commission and
        other debt collection expenses incurred by us in recovering and attempting to recover all or any amount due by
        you to us;<br>
        • to serve you notice requiring immediate payment for all goods supplied by us under this and all other
        contracts
        with you whether or not payment is otherwise due;<br>
        • to sue for the price of the goods even though title to such goods may not have passed to you<br><br>

        <h6>10. Our refund policy</h6>
        <p class="text-justify">
            •When you return a Product to us (for instance, because you have cancelled the Contract between us, or have
            notified us in accordance with clause 19 that you do not agree to any change in these terms and conditions
            or in any of our policies, or because you claim that the Product is defective), we will examine the returned
            Product. Provided we are satisfied with the condition of the Product following our examination, we will
            either replace the item (if returned owing to a defect and usually within forty-eight hours of its return to
            us) or provide you with a refund. We will process the refund as soon as possible.<br>

            •Products returned by you within two working days because of a defect or the cooling-off period(see clause
            6.1 above) will be refunded in full after Handling Fee and Delivery Charges have been deducted.<br>

            •A claim by you that the quantity of the Products delivered falls short of the quantity ordered shall be
            notified to us within the next working day from the date of delivery. If you do not notify us accordingly,
            we shall have no liability in respect of such shortfall and you shall be bound to pay the price as if the
            Products have been delivered in accordance with the Contract. <br>
        </p>

        <h6>11.Our liability</h6>
        <p class="text-justify">
            • We warrant to you that any Product purchased from us through our site is of satisfactory quality.<br><br>
            • Our liability in connection with any Product purchased through our site is strictly limited to the
            purchase price of that Product.<br><br>
            • This does not include or limit in any way our liability:<br>
            - for death or personal injury caused by our negligence<br>
            - under the Consumer Protection Act<br>
            - for fraud or fraudulent misrepresentation<br>
            - for any matter for which it would be illegal for us to exclude, or attempt to exclude, our liability.<br>
            • We accept no liability for any loss of income or revenue, loss of business, loss of profits or contracts,
            loss of anticipated savings, loss of data, waste of management or office time or for any indirect or
            consequential loss or damage of any kind however arising and whether caused by tort (including negligence),
            breach of contract or otherwise, even if foreseeable.<br>
        </p>

        <h6>12.Written communications</h6>
        <p class="text-justify">
            Applicable laws require that some of the information or communications we send to you should be in writing.
            When using our site, you accept that communication with us will be mainly electronic. We will contact you by
            email or provide you with information by posting notices on our website. For contractual purposes, you agree
            to this electronic means of communication and you acknowledge that all contracts, notices, information and
            other communications that we provide to you electronically comply with any legal requirement that such
            communications be in writing. This condition does not affect your statutory rights. <br>
        </p>

        <h6>13. Notices</h6>
        <p class="text-justify">
            All notices given by you to us must be given to DelOffice Ltd by email to contact@deloffice.mu We may give
            notice to you at either the email or postal address you provide to us when placing an order, or in any of
            the ways specified in clause 12. Notice will be deemed received and properly served immediately when posted
            on our website, 24 hours after an email is sent, or three days after the date of posting of any letter. In
            proving the service of any notice, it will be sufficient to prove, in the case of a letter, that such letter
            was properly addressed, stamped and placed in the post and, in the case of an email that such email was sent
            to the specified email address of the addressee
        </p>

        <h6>14.Transfer of rights and obligations</h6>
        <p class="text-justify">
            • The Contract between you and us is binding on you and us and on our respective successors and assigns.
            <br>
            • You may not transfer, assign, charge or otherwise dispose of a Contract, or any of your rights or
            obligations arising under it, without our prior written consent.<br>
            • We may transfer, assign, charge, sub-contract or otherwise dispose of a Contract, or any of our rights or
            obligations arising under it, at any time during the term of the Contract. <br>
        </p>

        <h6>15.Events outside our control</h6>
        <p class="text-justify">
            • We will not be liable or responsible for any failure to perform, or delay in performance of, any of our
            obligations under a Contract that is caused by events outside our reasonable control (Force Majeure Event).
            <br>
            • A Force Majeure Event includes any act, event, non-happening, omission or accident beyond our reasonable
            control and includes in particular (without limitation) the following:<br>
            • Our performance under any Contract is deemed to be suspended for the period that the Force Majeure Event
            continues, and we will have an extension of time for performance for the duration of that period. We will
            use our reasonable endeavours to bring the Force Majeure Event to a close or to find a solution by which our
            obligations under the Contract may be performed despite the Force Majeure Event.<br>
            • Strikes, lock-outs or other industrial action <br>
            • Civil commotion, riot, invasion, terrorist attack or threat of terrorist attack, war (whether declared or
            not) or threat or preparation for war <br>
            • Fire, explosion, storm, cyclone, flood, earthquake, subsidence, epidemic or other natural disaster
            Impossibility of the use of roads, railways, shipping, aircraft, motor transport or other means of public or
            private transport<br>
            • Impossibility of the use of public or private telecommunications networks<br>
            • The acts, decrees, legislation, regulations or restrictions of any government or authorities<br>
        </p>

        <h6>16.Waiver</h6>
        <p class="text-justify">
            • If we fail, at any time during the term of a Contract, to insist upon the strict performance of any of
            your obligations under the Contract or any of these terms and conditions, or if we fail to exercise any of
            the rights or remedies to which we are entitled under the Contract, this shall not constitute a waiver of
            such rights or remedies and shall not relieve you from compliance with such obligations.<br>
            • A waiver by us of any default shall not constitute a waiver of any subsequent default.<br>
            • No waiver by us of any of these terms and conditions shall be effective unless it is expressly stated to
            be a waiver and is communicated to you in writing in accordance with clause 13 above. <br>
        </p>

        <h6>17. Severability</h6>
        <p class="text-justify">
            If any of these terms and conditions or any provision of a Contract are determined by any competent
            authority to be invalid, unlawful or unenforceable to any extent, such term, condition or provision will to
            that extent be severed from the remaining terms, conditions and provisions which will continue to be valid
            to the fullest extent permitted by law.<br>
        </p>

        <h6>18. Entire agreement</h6>
        <p class="text-justify">
            • These terms and conditions and any document expressly referred to in them represent the entire agreement
            between us in relation to the subject matter of any Contract and supersede any prior agreement,
            understanding or arrangement between us, whether oral or in writing.<br><br>
            • We each acknowledge that, in entering into a Contract, neither of us has relied on any representation,
            undertaking or promise given by the other and that nothing may be implied from anything said or written in
            negotiations between us prior to such Contract except as expressly stated in these terms and
            conditions.<br><br>
            • Neither of us shall have any remedy in respect of any untrue statement made by the other,whether orally or
            in writing, prior to the date of any Contract (unless such untrue statement was made fraudulently) and the
            other party’s only remedy shall be for breach of Contract as provided in these terms and conditions.<br><br>
        </p>

        <h6>19. Our right to vary these terms and conditions</h6>
        <p class="text-justify">
            • We have the right to revise and amend these terms and conditions from time to time.<br>
            • You will be subject to the policies and terms and conditions in force at the time that you order Products
            and Servicesfrom us, unless any change to those policies or these terms and conditions is required to be
            made by law or governmental authority (in which case it will apply to orders previously placed by you), or
            if we notify you of the change to those policies or these terms and conditions before we provide you with
            the Dispatch Confirmation (in which case we have the right to assume that you have accepted the change to
            the terms and conditions, unless you notify us to the contrary within seven working days of receipt by you
            of the Products).<br>
        </p>

        <h6>20. Disclaimer of warranty</h6>
        <p class="text-justify">
            DelOffice is providing this site and its contents on an ‘as is’ basis and use of this site is at your own
            risk. DelOffice and its related companies, affiliates, licensors or licensees, and their respective
            shareholders, directors, officers, employees or agents make no representation or warranty as to the
            accuracy, completeness, currency or reliability of the information contained on this site (including in
            relation to any product or service). To the extent permitted by law, none of them will be liable or
            responsible in any way (including in negligence) for errors in, or omissions from, the information contained
            on this site. To the extent permitted by law, DelOffice expressly disclaims all warranties of any kind,
            whether express or implied, including (without limitation) implied warranties or conditions of
            merchantability or fitness for purpose.
        </p>

        <h6>21. Prohibited conduct</h6>
        <p class="text-justify">
            • You are not authorised, without the prior written permission of DelOffice Ltd and any other owner of
            rights in content that you access via the site, to reproduce, frame, download, store (in any medium),
            communicate, show or play in public, adapt, change, or create a derivative work from that content.<br>
            • No trademark (whether registered or otherwise) that is contained on this site or otherwise used by
            DelOffice Ltd may be used without our prior, specific, written permission or that of the trademark
            owner.<br>
            • You must not, without our prior written permission, exploit any of our site materials for commercial
            purposes or other purposes that are not expressly permitted under these Terms of Use.<br>
            • You must not upload, post, transmit or otherwise make available through this site any material which:<br>
            • violates or infringes the rights of others (including their privacy and intellectual property rights);<br>
            • is unlawful, threatening, abusive, defamatory, invasive of privacy, vulgar, obscene, profane or which may
            harass or cause distress or inconvenience to, or incite hatred of, any person;<br>
            • encourages conduct that would constitute a criminal offence, give rise to civil liability or otherwise
            violate any law; restricts or inhibits any other user from using the site;<br>
            • affects the functionality or operation of the site or its servers or the functionality or operation of any
            user’s computer systems (e.g. by transmitting a computer virus or other harmful component, whether or not
            knowingly); or <br>
            • breaches any standards, content requirements or codes promulgated by any relevant authority, including
            authorities that require DelOffice to take remedial action under any applicable industry code.
        </p>

        <h6>22. Indemnity</h6>
        <p class="text-justify">
            You agree to indemnify and will keep DelOffice Ltd indemnified against any claim, demand, injury, damage,
            loss, expense, cost or liability (whether direct or indirect) made against or suffered by DelOffice Ltd in
            connection with your use of this site, your breach of these Terms of Use or your breach of any rights of
            third parties.
        </p>

        <h6>23. Site contents, ownership and use restrictions</h6>
        <p class="text-justify">
            •The material on this site is protected by copyright under the laws of Mauritius. <br>
            • Unless otherwise indicated and except for information directly from or links to third-party websites, all
            rights (including copyright) in all content, other material and compilations contained in, or used to create
            or support this site including text, photos, graphics, logos button icons, video images, audio clips and
            navigational and other software (collectively referred to as the Contents) are owned or controlled, and are
            reserved by DelOffice Ltd and it’s related companies,affiliates, licensors and licensees.<br>
        </p>

        <h6>24.Law and jurisdiction</h6>
        <p class="text-justify">Contracts for the purchase of Products and Services through our site will be governed by
            Mauritian law. Any dispute arising from, or related to, such Contracts shall be subject to the non-exclusive
            jurisdiction of the courts of the Republic of Mauritius.</p>

    </div>
</div>