<div class="container-fluid px-0">
    <div class="furniture-banner">
        <img src="assets\img\about.jpg" alt="About Us" class="w-100">
        <div class="container title d-none d-xl-block">
            <h1 class="d-none d-xl-block">About Us</h1>
        </div>
        <div class="container title d-block d-sm-none">
            <h6 class="">About Us</h6>
        </div>
    </div>
    <div class="w-100 mb-3 d-none d-sm-block">
        <!-- <img src="assets\img\Anti Bribery_1170x920.png" alt="About Us" class="w-100"> -->
    </div>
    <div class="d-block d-sm-none p-2">
        <p class="text-justify">
            Finding the cheapest office supplies that meet your needs is a full time job by itself. There are so many
            choices today.
            It’s a time consuming exercise and often not worth the saving that you make. Time spent on telephone calls,
            travelling
            from one shop to another, preparing purchase orders and collecting products is rarely assessed. Many of the
            savings
            which we pride ourselves to have achieved are in fact “false savings” because we simply fail to account for
            the
            costs
            related to the resources engaged and time spent to realise such achievement.
        </p>
        <p class="text-justify">
            The business environment is changing very fast. Competition is becoming fiercer with globalisation
            Productivity
            has
            become an unconditional factor for survival. There is no more places for inefficiencies and hidden costs. To
            survive and
            succeed we must start thinking differently. Adjustments to what we are presently doing may not be the best
            solution even
            though they have worked successfully in the past. Businesses must concentrate in what they do the best. Time
            saved in
            purchasing office supplies can be used more efficiently to improve the procurement, sourcing, stock
            management
            and
            control over the utilisation of your primary products and your services. Many companies and even government
            bodies have
            understood the need to review their costs structures and business processes. The financial crisis has
            certainly
            been a
            boosting factor for many organisations. However, be conscious of the need to change is one thing and knowing
            what and
            how to change is another thing. This issue small and simple as it may appear can make the whole difference
            in
            the
            success or failures of organisations.
        </p>
        <p class="text-justify">
            DelOffice Ltd has been established in June 2010 to assist businesses and government institutions in their
            office
            supplies needs. We bring a time and costs saving solution and allow organisations to concentrate in what
            they do
            best.
            For this, we have chosen the latest IT technology and partnered with reliable IT specialists to develop high
            standard IT
            solutions for our user friendly website. The whole of our processes, from order processing, purchasing,
            invoicing,
            logistics organisation to delivery and customer inquiries are fully computerised. So once you place an
            order,
            you can
            relax knowing that your order will be delivered promptly, accurately and efficiently. No need for you to go
            here
            and
            there for small money saving which may cost you more at the end of the day.
        </p>
        <p class="text-justify">
            <u>www.deloffice.mu</u> is the bridge between office products suppliers and customers. We aim to be the
            largest
            online
            supplier
            of office supplies in Mauritius. The number of items available in our web store, already important as a
            start,
            will
            increase as we grow, learn and respond to your needs.
        </p>
        <p class="text-justify">
            Our policy is to partner only with serious, reliable and trustworthy suppliers and customers no matter their
            size. We
            strongly believe in corporate values and business ethics. We don’t just sell products, we professionally
            assist
            organisations in their office needs and provide useful advice on costs savings solutions.
        </p>
        <p class="text-justify">
            Besides our easy-to-use website, we have a friendly and helpful customer service team who will be happy to
            answer any
            queries you may have, help you select the right product for your needs and also source non-standard and
            specialised
            products.
        </p>
        <p class="text-justify">
            Your satisfaction is our ultimate objective and it is with this business philosophy that we intend to grow
            and
            to succeed.
        </p>
    </div>
</div>