<div class="container-fluid ">
    <main id="content" class="row d-flex flex-column flex-nowrap">
        <div class="row mb-3 mx-lg-0">
            <div class="col-12 mx-auto text-center my-4">
                <img src="\assets\img\logo.svg" alt="deloffice_logo" class="img-fluid w-25 mx-auto">
            </div>
        </div>
        <div class="row mb-3 mx-lg-0">
            <div class="col-12">
                <h2 class="text-center font-weight-bold">Create your account</h2>
                <p class="text-center">
                    Benefit from offers and save time & money by being a member of<br>the DelOffice community.
                </p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 d-flex justify-content-around">
                <button class="btn btn-primary border btnSize p-3 active" data-toggle="button" aria-pressed="true"
                    type="button" (click)="type=1">
                    <img src="\assets\img\corporate.svg" class="logosvg"><b>Corporate</b>
                </button>
                <button class="btn btn-primary border btnSize p-3 active" data-toggle="button" aria-pressed="false"
                    type="button" (click)="type=2">
                    <img src="\assets\img\reseller.svg" class="logosvg"><b>Reseller</b>
                </button>
                <button class="btn btn-primary border btnSize p-3 active" data-toggle="button" aria-pressed="false"
                    type="button" (click)="type=3">
                    <img src="\assets\img\individual.svg" class="logosvg"><b>Individual</b>
                </button>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 p-auto">
                <ng-container [ngSwitch]="type">
                    <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)" id="corporate" *ngSwitchCase="1">
                        <div class="row mb-3">
                            <input type="hidden" fornControlName="utype" value="1" class="invisible">
                            <div class="col-12">
                                <h2 class="text-center font-weight-bold mb-3">
                                    Corporate Form
                                </h2>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 float-left">
                                <div class="form-group">
                                    <label for="fname">Corporate Name</label>
                                    <input type="text" formControlName="fname" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="vat">VAT</label>
                                    <input type="text" formControlName="vat" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="brn">BRN</label>
                                    <input type="text" formControlName="brn" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="activity">Field of Activity</label>
                                    <input type="text" formControlName="activity" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="cperson">Contact Person</label>
                                    <input type="text" formControlName="cperson" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <textarea type="text" formControlName="address" class="form-control"
                                        rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col-6 float-right">
                                <div class="form-group">
                                    <label for="tel">Telephone</label>
                                    <input type="number" formControlName="tel" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="fax">Fax</label>
                                    <input type="number" formControlName="fax" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="email">Email Address</label>
                                    <input type="email" formControlName="email" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" formControlName="password" class="form-control">
                                </div>

                                <!-- <div class="form-group">
                                    <label for="confirm_password">Confirm Password</label>
                                    <input type="password" formControlName="confirm_password" class="form-control">
                                </div> -->
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="chkbxTermsCorporate">
                                    <label class="custom-control-label" for="chkbxTermsCorporate">
                                        <b>Accept Terms and Conditions *</b>
                                    </label>
                                </div>
                                <p class="text-justify">
                                    By checking the box above and clicking Create Account, you acknowledge you have read
                                    and agreed to our
                                    <a routerLink=""><u>Terms and Conditions</u></a>.
                                </p>
                                <div class="form-group">
                                    <button type="submit" form="corporate" class="btn btn-primary">Create Account
                                        <i class="fas fa-user-plus ml-2"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form [formGroup]="registerForm" (ngSubmit)="register()" id="reseller" *ngSwitchCase="2" #utype value="2">
                        <div class="row mb-3">
                            <input type="hidden" fornControlName="utype" value="2" disabled>
                            <div class="col-12">
                                <h2 class="text-center font-weight-bold mb-3">
                                    Reseller Form
                                </h2>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 float-left">
                                <div class="form-group">
                                    <label for="reseller">Reseller</label>
                                    <input type="text" formControlName="reseller" class="form-control">
                                </div>
                                
                                <div class="form-group">
                                    <label for="vat">VAT</label>
                                    <input type="text" formControlName="vat" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="brn">BRN</label>
                                    <input type="text" formControlName="brn" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="activity">Field of Activity</label>
                                    <input type="text" formControlName="activity" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="cperson">Contact Person</label>
                                    <input type="text" formControlName="cperson" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <textarea type="text" formControlName="address" class="form-control"
                                        rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col-6 float-right">
                                <div class="form-group">
                                    <label for="tel">Telephone</label>
                                    <input type="number" formControlName="tel" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="fax">Fax</label>
                                    <input type="number" formControlName="fax" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="email">Email Address</label>
                                    <input type="email" formControlName="email" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" formControlName="password" class="form-control">
                                </div>

                                <!-- <div class="form-group">
                                    <label for="confirm_password">Confirm Password</label>
                                    <input type="password" formControlName="confirm_password" class="form-control">
                                </div> -->
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="chkbxTermsReseller">
                                    <label class="custom-control-label" for="chkbxTermsReseller">
                                        <b>Accept Terms and Conditions *</b>
                                    </label>
                                </div>
                                <p class="text-justify">
                                    By checking the box above and clicking Create Account, you acknowledge you have read
                                    and agreed to our
                                    <a routerLink=""><u>Terms and Conditions</u></a>.
                                </p>
                                <div class="form-group">
                                    <button type="submit" form="reseller" class="btn btn-primary">Create Account
                                        <i class="fas fa-user-plus ml-2"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form [formGroup]="registerForm" (ngSubmit)="register()" id="individual" *ngSwitchCase="3" #utype value="3">
                        <div class="row mb-3">
                            <input type="hidden" fornControlName="utype" value="3" disabled>
                            <div class="col-12">
                                <h2 class="text-center font-weight-bold mb-3">
                                    Individual Form
                                </h2>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 float-left">
                                <div class="form-group">
                                    <label for="fname">First Name</label>
                                    <input type="text" formControlName="fname" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="lname">Last Name</label>
                                    <input type="text" formControlName="lname" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="tel">Telephone</label>
                                    <input type="number" formControlName="tel" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="mob">Mobile</label>
                                    <input type="number" formControlName="mob" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <textarea type="text" formControlName="address" class="form-control"
                                        rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col-6 float-right">
                                <div class="form-group">
                                    <label for="email">Email Address</label>
                                    <input type="email" formControlName="email" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" formControlName="password" class="form-control">
                                </div>

                                <!-- <div class="form-group">
                                    <label for="confirm_password">Confirm Password</label>
                                    <input type="password" formControlName="confirm_password" class="form-control">
                                </div> -->
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="chkbxTermsIndividual">
                                    <label class="custom-control-label" for="chkbxTermsIndividual">
                                        <b>Accept Terms and Conditions *</b>
                                    </label>
                                </div>
                                <p class="text-justify">
                                    By checking the box above and clicking Create Account, you acknowledge you have read
                                    and agreed to our
                                    <a routerLink=""><u>Terms and Conditions</u></a>.
                                </p>
                                <div class="form-group">
                                    <button type="submit" id="individual" class="btn btn-primary">Create Account
                                        <i class="fas fa-user-plus ml-2"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </ng-container>
            </div>
        </div>
    </main>
</div>