main#content {
    padding: 20px 30px;
    .btnSize{
        >img{
            filter: invert(1);
        }
        &:active{
            background-color:red!important;
        }        
    }
}
.active{
    background:red!important;
}
:host{
    display: block;
    padding-top: 169px;
}
form{
    padding:70px;

    h2{
        color: darkblue;
    }
    input{
        width: 100%;
    }
    textarea {
        max-width: 100%;
    }
    label{
        margin-bottom:-7px;
    }
    input[type="checkbox"]{
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
        transform: scale(1.5);
    }
   
}

button{
    padding:15px;
    size:25px;        
}
.btnSize{
    min-width:200px;
}

.logosvg{
    height: 50px;
    padding-right: 15px;
}