<div class="container-fluid ">
    <main id="content" class="row d-flex flex-column flex-nowrap">
        <div class="row mb-3 mx-lg-0">
            <div class="col-12 mx-auto text-center my-4">
                <img src="\assets\img\logo.svg" alt="deloffice_logo" class="img-fluid w-25 mx-auto">
            </div>
        </div>
        <div class="row mb-3 mx-lg-0">
            <div class="col-12">
                <h2 class="text-center font-weight-bold">Create your account</h2>
                <p class="text-center">
                    Benefit from offers and save time & money by being a member of<br>the DelOffice community.
                </p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 d-flex justify-content-around">
                <button class="btn btn-primary border btnSize p-3 active" data-toggle="button" aria-pressed="true"
                    type="button" (click)="type=3">
                    <img src="\assets\img\corporate.svg" class="logosvg"><b>Corporate</b>
                </button>
                <button class="btn btn-primary border btnSize p-3 active" data-toggle="button" aria-pressed="false"
                    type="button" (click)="type=2">
                    <img src="\assets\img\reseller.svg" class="logosvg"><b>Reseller</b>
                </button>
                <button class="btn btn-primary border btnSize p-3 active" data-toggle="button" aria-pressed="false"
                    type="button" (click)="type=1">
                    <img src="\assets\img\individual.svg" class="logosvg"><b>Individual</b>
                </button>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 p-auto">
                <ng-container [ngSwitch]="type">
                    <form [formGroup]="registerForm" (ngSubmit)="register()" id="corporate" *ngSwitchCase="3">
                        <div class="row mb-3">
                            <input type="hidden" fornControlName="utype" value="1" class="invisible">
                            <div class="col-12">
                                <h2 class="text-center font-weight-bold mb-3">
                                    Corporate Form
                                </h2>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 float-left">
                                <div class="form-group">
                                    <label for="fname">Corporate Name</label>
                                    <input type="text" formControlName="fname" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.fname.errors }">
                                    <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                                        <div *ngIf="f.fname.errors.required">Corporate Name is required</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="vat">VAT</label>
                                    <input type="text" formControlName="vat" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.vat.errors }">
                                    <div *ngIf="submitted && f.vat.errors" class="invalid-feedback">
                                        <div *ngIf="f.vat.errors.required">VAT is required</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="brn">BRN</label>
                                    <input type="text" formControlName="brn" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.brn.errors }">
                                    <div *ngIf="submitted && f.brn.errors" class="invalid-feedback">
                                        <div *ngIf="f.brn.errors.required">BRN is required</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="activity">Field of Activity</label>
                                    <input type="text" formControlName="activity" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.activity.errors }">
                                    <div *ngIf="submitted && f.activity.errors" class="invalid-feedback">
                                        <div *ngIf="f.activity.errors.required">Field of Activity is required</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="cperson">Contact Person</label>
                                    <input type="text" formControlName="cperson" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.cperson.errors }">
                                    <div *ngIf="submitted && f.cperson.errors" class="invalid-feedback">
                                        <div *ngIf="f.cperson.errors.required">Contact Person is required</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <textarea type="text" formControlName="address" class="form-control" rows="3"
                                        [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                                    </textarea>
                                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                        <div *ngIf="f.address.errors.required">Address is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 float-right">
                                <div class="form-group">
                                    <label for="tel">Telephone</label>
                                    <input type="number" formControlName="tel" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.tel.errors }">
                                    <div *ngIf="submitted && f.tel.errors" class="invalid-feedback">
                                        <div *ngIf="f.tel.errors.required">Telephone is required</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="fax">Fax</label>
                                    <input type="number" formControlName="fax" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.fax.errors }">
                                    <div *ngIf="submitted && f.fax.errors" class="invalid-feedback">
                                        <div *ngIf="f.fax.errors.required">Fax is required</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">Email Address</label>
                                    <input type="email" formControlName="email" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" formControlName="password" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input type="password" formControlName="confirmPassword" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required
                                        </div>
                                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                                    </div>
                                </div>
                                <div class="form-group form-check ">
                                    <input type="checkbox" formControlName="acceptTermsC" class="custom-control-input"
                                        id="acceptTermsCorporate"
                                        [ngClass]="{ 'is-invalid': submitted && f.acceptTermsC.errors }">
                                    <label class="custom-control-label" for="acceptTermsC">
                                        <b>Accept Terms and Conditions *</b>
                                    </label>
                                    <div *ngIf="submitted && f.acceptTermsC.errors" class="invalid-feedback">Accept Ts &
                                        Cs is required</div>
                                </div>
                                <p class="text-justify">
                                    By checking the box above and clicking Create Account, you acknowledge you have read
                                    and agreed to our
                                    <a routerLink="/Terms-and-conditions"><u>Terms and Conditions</u></a>.
                                </p>
                                <div class="form-group">
                                    <button type="submit" form="corporate" class="btn btn-primary">Create Account
                                        <i class="fas fa-user-plus ml-2"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form [formGroup]="registerForm" (ngSubmit)="register()" id="reseller" *ngSwitchCase="2" #utype
                        value="2">
                        <div class="row mb-3">
                            <input type="hidden" fornControlName="utype" value="2" disabled>
                            <div class="col-12">
                                <h2 class="text-center font-weight-bold mb-3">
                                    Reseller Form
                                </h2>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 float-left">
                                <div class="form-group">
                                    <label for="reseller">Reseller</label>
                                    <input type="text" formControlName="reseller" class="form-control"
                                        formControlName="fname"
                                        [ngClass]="{ 'is-invalid': submitted && f.fname.errors }">
                                    <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                                        <div *ngIf="f.fname.errors.required">Reseller Name is required</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="vat">VAT</label>
                                    <input type="text" formControlName="vat" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.vat.errors }">
                                    <div *ngIf="submitted && f.vat.errors" class="invalid-feedback">
                                        <div *ngIf="f.vat.errors.required">VAT is required</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="brn">BRN</label>
                                    <input type="text" formControlName="brn" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.brn.errors }">
                                    <div *ngIf="submitted && f.brn.errors" class="invalid-feedback">
                                        <div *ngIf="f.brn.errors.required">BRN is required</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="activity">Field of Activity</label>
                                    <input type="text" formControlName="activity" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.activity.errors }">
                                    <div *ngIf="submitted && f.activity.errors" class="invalid-feedback">
                                        <div *ngIf="f.activity.errors.required">Field of Activity is required</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="cperson">Contact Person</label>
                                    <input type="text" formControlName="cperson" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.cperson.errors }">
                                    <div *ngIf="submitted && f.cperson.errors" class="invalid-feedback">
                                        <div *ngIf="f.cperson.errors.required">Contact Person is required</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <textarea type="text" formControlName="address" class="form-control" rows="3"
                                        [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                                    </textarea>
                                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                        <div *ngIf="f.address.errors.required">Address is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 float-right">
                                <div class="form-group">
                                    <label for="tel">Telephone</label>
                                    <input type="number" formControlName="tel" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.tel.errors }">
                                    <div *ngIf="submitted && f.tel.errors" class="invalid-feedback">
                                        <div *ngIf="f.tel.errors.required">Telephone is required</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="fax">Fax</label>
                                    <input type="number" formControlName="fax" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.fax.errors }">
                                    <div *ngIf="submitted && f.fax.errors" class="invalid-feedback">
                                        <div *ngIf="f.fax.errors.required">Fax is required</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">Email Address</label>
                                    <input type="email" formControlName="email" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" formControlName="password" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input type="password" formControlName="confirmPassword" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required
                                        </div>
                                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                                    </div>
                                </div>
                                <div class="form-group form-check ">
                                    <input type="checkbox" formControlName="acceptTermsR" class="custom-control-input"
                                        id="acceptTermsReseller"
                                        [ngClass]="{ 'is-invalid': submitted && f.acceptTermsR.errors }">
                                    <label class="custom-control-label" for="acceptTermsR">
                                        <b>Accept Terms and Conditions *</b>
                                    </label>
                                    <div *ngIf="submitted && f.acceptTermsR.errors" class="invalid-feedback">Accept Ts &
                                        Cs is required</div>
                                </div>
                                <p class="text-justify">
                                    By checking the box above and clicking Create Account, you acknowledge you have read
                                    and agreed to our
                                    <a routerLink="/Terms-and-conditions"><u>Terms and Conditions</u></a>.
                                </p>
                                <div class="form-group">
                                    <button type="submit" form="reseller" class="btn btn-primary">Create Account
                                        <i class="fas fa-user-plus ml-2"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form [formGroup]="registerForm" (ngSubmit)="register()" id="individual" *ngSwitchCase="1" #utype
                        value="3">
                        <div class="row mb-3">
                            <input type="hidden" fornControlName="utype" value="3" disabled>
                            <div class="col-12">
                                <h2 class="text-center font-weight-bold mb-3">
                                    Individual Form
                                </h2>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 float-left">
                                <div class="form-group">
                                    <label for="fname">First Name</label>
                                    <input type="text" formControlName="fname" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.fname.errors }">
                                    <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                                        <div *ngIf="f.fname.errors.required">First Name is required</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="lname">Last Name</label>
                                    <input type="text" formControlName="lname" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.lname.errors }">
                                    <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                                        <div *ngIf="f.lname.errors.required">Last Name is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="tel">Telephone</label>
                                    <input type="number" formControlName="tel" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.tel.errors }">
                                    <div *ngIf="submitted && f.tel.errors" class="invalid-feedback">
                                        <div *ngIf="f.tel.errors.required">Telephone is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mob">Mobile</label>
                                    <input type="number" formControlName="mob" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.mob.errors }">
                                    <div *ngIf="submitted && f.mob.errors" class="invalid-feedback">
                                        <div *ngIf="f.mob.errors.required">Mobile is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <textarea type="text" formControlName="address" class="form-control" rows="3"
                                        [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                                    </textarea>
                                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                        <div *ngIf="f.address.errors.required">Address is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 float-right">
                                <div class="form-group">
                                    <label for="email">Email Address</label>
                                    <input type="email" formControlName="email" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" formControlName="password" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input type="password" formControlName="confirmPassword" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required
                                        </div>
                                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                                    </div>
                                </div>
                                <div class="form-group form-check ">
                                    <input type="checkbox" formControlName="acceptTermsI" class="custom-control-input"
                                        id="acceptTermsIndividual"
                                        [ngClass]="{ 'is-invalid': submitted && f.acceptTermsI.errors }">
                                    <label class="custom-control-label" for="acceptTermsI">
                                        <b>Accept Terms and Conditions *</b>
                                    </label>
                                    <div *ngIf="submitted && f.acceptTermsI.errors" class="invalid-feedback">Accept Ts &
                                        Cs is required</div>
                                </div>
                                <p class="text-justify">
                                    By checking the box above and clicking Create Account, you acknowledge you have read
                                    and agreed to our
                                    <a routerLink="/Terms-and-conditions"><u>Terms and Conditions</u></a>.
                                </p>
                                <div class="form-group">
                                    <button type="submit" id="individual" class="btn btn-primary">Create Account
                                        <i class="fas fa-user-plus ml-2"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </ng-container>
            </div>
        </div>
    </main>
</div>