<ng-container *ngIf="category$ | async as data">
    <div id="wrapper" class="container-fluid">
        <main id="content" class="row d-flex flex-column flex-nowrap">
            <div class="row mb-3 ">
                <section class="col-12">
                    <!-- <ng-container *ngIf="let banner of data.productdata.products> -->
                    <img onerror="this.src='/assets/img/category-not-found.jpg'"
                        src="https://api.deloffice.mu/images/category/{{data?.category?.categoryImg?.imgid}}" alt=""
                        class="img-fluid w-100">
                    <!-- </ng-container> -->
                </section>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3 col-md-3 d-none d-md-block">
                    <app-slidebar></app-slidebar>
                </div>

                <div class="col-lg-9 col-md-9 col-12" style="overflow: hidden;">
                    <h5 class="custom-heading">
                        {{data.category.description}}
                    </h5>
                    <div id="products" class="row ">
                        <ng-container *ngIf="data.productdata.count > 0">
                            <ng-container *ngFor="let cat of data.productdata.products; index as i;">

                                <div class="col-lg-3 col-md-6 col-sm-6 col-6  mb-3">
                                    <div class="card">
                                        <a routerLink="/category/{{cat.id}}">
                                            <img onerror="this.src='/assets/img/product-not-found.jpg'"
                                                src="https://api.deloffice.mu/images/product/{{cat.id}}.jpg" class="card-img-top
                        img-fluid" alt="...">
                                        </a>
                                        <div class="card-body">
                                            <h3 class="text-center">
                                                <strong>Rs.
                                                    {{cat.puprice | number:'1.2-2'}}
                                                </strong>
                                            </h3>
                                            <h5 class="card-title text-center">
                                                {{cat.des1}}<br>
                                                {{cat.des2}}<br>
                                                {{cat.des3}}<br>
                                                <b>Product code:</b> {{cat.id}}
                                            </h5>
                                            <span id="cart" class="d-flex">
                                                <input type="number" name="qty" id="qty" value="1" class="text-center">
                                                <a href="#" class="btn btn-primary"><i
                                                        class="fas fa-shopping-cart"></i></a>
                                                <a href="#" class="btn btn-primary"><i class="fas fa-heart"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <hr *ngIf="(i+1)%4==0 && i+1 < data.productdata.products.length" class="col-12">
                            </ng-container>
                        </ng-container>
                    </div>
                    <nav aria-label="pagination-search">
                        <ul class="pagination">
                            <li class="page-item text-dark" [class.disabled]="+currentPage - 1 == 0">
                                <a routerLink="/category/" [queryParams]="{id: +data.category, p: +currentPage - 1}"
                                    class="page-link" style="cursor: pointer;" tabindex="-1">Previous</a>
                            </li>
                            <ng-container
                                *ngFor="let pageNum of tempArray(data.productdata.products.count); index as i;">
                                <li class="page-item" [class.active]="currentPage == pageNum">
                                    <a routerLink="/category/" [queryParams]="{id: +data.category, p: +pageNum}"
                                        class="page-link text-dark" style="cursor: pointer;">{{pageNum}} <span
                                            *ngIf="+currentPage == +pageNum" class="sr-only">(current)</span></a>
                                </li>
                            </ng-container>
                            <li class="page-item text-dark"
                                [class.disabled]="+currentPage + 1 > pagecount(data.productdata.products)">
                                <a routerLink="/category/" [queryParams]="{id: +data.category, p: +currentPage + 1}"
                                    class="page-link" style="cursor: pointer;">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
            <div class="row mb-3 mx-n1">
                <div class="col-lg-6 px-2">
                    <img id="Category-Banner-A" src="https://via.placeholder.com/1500x600.png" class="img-fluid">
                </div>
                <div class="col-lg-6 px-2">
                    <img id="Category-Banner-B" src="https://via.placeholder.com/1500x600.png" class="img-fluid">
                </div>
            </div>
            <div class="row mb-3 mx-n1">
                <div class="col-lg-4 px-2">
                    <img id="Category-Banner-C" src="https://via.placeholder.com/1000x300.png" class="img-fluid">
                </div>
                <div class="col-lg-4 px-2">
                    <img id="Category-Banner-D" src="https://via.placeholder.com/1000x300.png" class="img-fluid">
                </div>
                <div class="col-lg-4 px-2">
                    <img id="Category-Banner-E" src="https://via.placeholder.com/1000x300.png" class="img-fluid">
                </div>
            </div>
        </main>
    </div>
</ng-container>