<ng-container>
    <div id="wrapper" class="container-fluid">
        <main id="content" class="row d-flex flex-column flex-nowrap">
            <div class="row mb-3 mx-0">
                <div class="col-12">
                    <h5 class="custom-heading">
                        Hello user (ID 588888)
                    </h5>
                </div>

            </div>
            <div class="row mb-3 mx-0">
                <div class="col-3">
                    <img class="float-right" src="\assets\img\UserSetting.svg" alt="" width="40%">
                </div>
                <form [formGroup]="form" class="col-9 row mx-0">
                    <div class="col-5 border-right">
                        <div class="form-group">
                            <label for="FName" class="col-12 col-form-label">First Name</label>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-address-card"></i>
                                        </div>
                                    </div>
                                    <input id="FName" formControlName="FName" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-12 col-form-label">Email</label>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-at"></i>
                                        </div>
                                    </div>
                                    <input id="email" formControlName="email" type="text" class="form-control"
                                        required="required">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Mobile" class="col-12 col-form-label">Mobile</label>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-mobile-alt"></i>
                                        </div>
                                    </div>
                                    <input id="Mobile" formControlName="Mobile" type="text" required="required"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Address" class="col-12 col-form-label">Address</label>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-address-card"></i>
                                        </div>
                                    </div>
                                    <textarea id="Address" formControlName="Address" type="text" class="form-control"
                                        rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="VAT" class="col-12 col-form-label">VAT</label>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">VAT</div>
                                    </div>
                                    <input id="VAT" formControlName="VAT" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <a class="btn btn-warning" routerLink="/pass-update" role="button">
                                    Update Password</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <label for="LName" class="col-12 col-form-label">Last Name</label>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-address-card"></i>
                                        </div>
                                    </div>
                                    <input id="LName" formControlName="LName" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-12 col-form-label" for="Telephone">Telephone</label>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-phone"></i>
                                        </div>
                                    </div>
                                    <input id="Telephone" formControlName="Telephone" type="text" required="required"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Fax" class="col-12 col-form-label">Fax</label>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-fax"></i>
                                        </div>
                                    </div>
                                    <input id="Fax" formControlName="Fax" type="text" required="required"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Billing-Address" class="col-12 col-form-label">Billing Address</label>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-address-card"></i>
                                        </div>
                                    </div>
                                    <textarea id="Billing-Address" formControlName="Billing-Address" type="text"
                                        class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="BRN" class="col-12 col-form-label">BRN</label>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">BRN</div>
                                    </div>
                                    <input id="BRN" formControlName="BRN" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <button name="submit" type="submit" class="float-right btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>
</ng-container>