@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

a, a:focus, a:active, a:hover {
    text-decoration: none;
}

h5 {
    &.custom-heading {
        text-transform: uppercase;
        color: white;
        margin: 0;
        margin-bottom: 15px;
        font-size: 18px;
        display: block;
        text-align: center;
        padding: 7px;
        background-image: url('/assets/img/banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-color: blue;
        border: 1px solid rgb(11, 11, 88);
    }
}



main#content {
    padding: 20px 30px;
}

nav.card {
    a {
        display: block;
        padding: 5px 25px;
        font-size: 14px;
        text-transform: uppercase;
        color:black;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-weight: 500;
        color:black;
        
        li {
            span {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 8px 20px;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                color:black;
            }
            ul.collapse {
                list-style: none;
                margin: 0;
               
                li {
                    a {
                        color:black;
                    }
                }
            }
        }
    }
}

footer#main-footer {
    background-image: url('/assets/img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: blue;
    color: white;

    > * {
        padding: 5px 30px;
    }

    #top-footer {
        padding: 20px 30px;
        .footer-link-section {
            flex: 0 1 25%;
            max-height: 200px;

            h6 {
                font-weight: bold;
                text-transform: uppercase;
            }

            ul {
                list-style: none;
                li {
                    a {
                        display: block;
                        padding: 3px 0px;
                        color: white;
                    }
                }
            }
        }
    }

    #bottom-footer {
        padding: 10px 30px;
        font-size: 13px;
    }
}
.useful-links {
    ul {
        li {
            background-image: url('/assets/img/banner.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-color: white;
            color: white;
            border-bottom: 1px;
            border-color: white;

            &:hover {
                color: red;
                cursor: pointer;
            }

            h6 {
                font-size: 1.5rem;
                
            }

            p {
                font-size: .9rem;
            }

            img {
                
            }
        }
    }
}

#products {
    > div {
        &:not(:nth-child(4)) {
            border-right: 1px solid rgba(#000, 0.3);
        }

        .card {
            box-shadow: none;
            border: 0px solid transparent;
            border-radius: 0px;

            .card-img-top {
                border-radius: 0px;
            }

            .card-body {
                padding: 15px 0px;

                h5.card-title {
                    font-size: .90rem;
                    line-height: 1.3rem;
                }

                p.card-text {
                    font-size: .90rem;
                }

                span#cart {
                    * {
                        margin-right: 10px;
                    }
                    input[type=number] {
                        width: 50px;
                    }
                    a {
                        display: block;
                    }
                }
            }
        }
    }
}