<div class="row mb-3">
    <div class="col-lg-3 col-md-3 d-none d-md-block">
        <h5 class="custom-heading">Product Categories</h5>
        <nav class="card mb-3">
            <div class="card-body p-0">
                <ul>
                    <li>
                        <span data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false"
                            aria-controls="collapse1">
                            Personal Hygiene
                            <i class="fas fa-plus"></i>
                        </span>
                        <ul class="collapse" id="collapse1">
                            <li>
                                <a>Content</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false"
                            aria-controls="collapse2">
                            Paper
                            <i class="fas fa-plus"></i>
                        </span>
                        <ul class="collapse" id="collapse2">
                            <li>
                                <a>Content</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false"
                            aria-controls="collapse3">
                            Office Supplies
                            <i class="fas fa-plus"></i>
                        </span>
                        <ul class="collapse" id="collapse3">
                            <li>
                                <a>Content</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>

        <div class="col-lg-3 col-md-3 d-none d-md-block px-lg-0">
            <div class="useful-links card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-0 d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="span p-3">
                                <h6>New Arrivals</h6>
                                <p class="m-0">Discover them all year round</p>
                            </div>
                        </div>
                        <img style="width: 80px;" src="https://via.placeholder.com/300x200.png" alt="" class="img-fluid">
                    </li>
                    <li class="list-group-item p-0 d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="span p-3">
                                <h6>Special Offers</h6>
                                <p class="m-0">All our super deals in one place</p>
                            </div>
                        </div>
                        <img style="width: 80px;" src="https://via.placeholder.com/300x200.png" alt="" class="img-fluid">
                    </li>
                    <li class="list-group-item p-0 d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="span p-3">
                                <h6>Clearance Sales</h6>
                                <p class="m-0">End of series. All must go.</p>
                            </div>
                        </div>
                        <img style="width: 80px;" src="https://via.placeholder.com/300x200.png" alt="" class="img-fluid">
                    </li>
                    <li class="list-group-item p-0 d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="span p-3">
                                <h6>Best Sellers</h6>
                                <p class="m-0">Spotlight on our top selling products</p>
                            </div>
                        </div>
                        <img style="width: 80px;" src="https://via.placeholder.com/300x200.png" alt="" class="img-fluid">
                    </li>
                    <li class="list-group-item p-0 d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="span p-3">
                                <h6>Something Else</h6>
                                <p class="m-0">Fast track. Tell us what you need.</p>
                            </div>
                        </div>
                        <img style="width: 80px;" src="https://via.placeholder.com/300x200.png" alt="" class="img-fluid">
                    </li>
                </ul>
            </div>
        </div>

        <a href="#" class="d-block mb-3">
            <img src="https://via.placeholder.com/320x400.png" alt="" class="img-fluid">
        </a>
        <a href="#" class="d-block mb-3">
            <img src="https://via.placeholder.com/320x400.png" alt="" class="img-fluid">
        </a>
    </div>
</div>
