<div class="">
    <div class="">
        <h5 class="custom-heading">Product Categories</h5>
        <nav class="card mb-3">
            <div class="card-body p-0">
                <ul>
                    <li *ngFor="let cat of category$ | async; index as i;">
                        <span data-toggle="collapse" [attr.href]="'#category1' + i" role="button" aria-expanded="false"
                            [attr.aria-controls]="'category1' + i">
                            {{cat.description}}
                            <i *ngIf="cat.subcategories.length > 0" class="fas fa-plus"></i>
                        </span>
                        <ul *ngIf="cat.subcategories.length > 0" class="collapse" id="category1{{i}}">
                            <li *ngFor="let subcat of cat.subcategories; index as j;">
                                <ng-container *ngIf="subcat.subcategories.length > 0; else noCat">
                                    <a data-toggle="collapse" [attr.href]="'#category2' + j" role="button"
                                        aria-expanded="false" [attr.aria-controls]="'category2' + j">
                                        {{subcat.description}}
                                        <i *ngIf="subcat.subcategories.length > 0" class="fas fa-plus"></i>
                                    </a>
                                    <ul *ngIf="subcat.subcategories.length > 0" class="collapse" id="category2{{j}}">
                                        <li *ngFor="let subcat2 of subcat.subcategories; index as k;">
                                            <ng-container *ngIf="subcat2.subcategories.length > 0; else noSubCat">
                                                <a data-toggle="collapse" [attr.href]="'#category3' + k" role="button"
                                                    aria-expanded="false" [attr.aria-controls]="'category3' + k">
                                                    {{subcat2.description}}
                                                    <i class="fas fa-plus"></i>
                                                </a>
                                                <ul *ngIf="subcat2.subcategories.length > 0" class="collapse"
                                                    id="category3{{k}}">
                                                    <li *ngFor="let subcat3 of subcat2.subcategories; index as l;">
                                                        <a
                                                            routerLink="/category/{{subcat3.id}}">{{subcat3.description}}</a>
                                                    </li>
                                                </ul>
                                            </ng-container>
                                            <ng-template #noSubCat>
                                                <a routerLink="/category/{{subcat2.id}}">
                                                    {{subcat2.description}}
                                                </a>
                                            </ng-template>

                                        </li>
                                    </ul>
                                </ng-container>
                                <ng-template #noCat>
                                    <a routerLink="/category/{{subcat.id}}">
                                        {{subcat.description}}
                                    </a>
                                </ng-template>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>

        <div id="Rotate-A-Group" class="carousel slide d-block mb-3" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img id="RA-1" src="\assets\img\summer fresh.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img id="RA-2" src="\assets\img\unnamed.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <div id="Rotate-B-Group" class="carousel slide d-block mb-3" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img id="RB-1" src="\assets\img\Smooth-the-Fruit-Ad-Poster-Download.jpg" class="d-block w-100"
                        alt="...">
                </div>
                <div class="carousel-item">
                    <img id="RB-2" src="\assets\img\summer fresh.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <div id="Rotate-C-Group" class="carousel slide d-block mb-3" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img id="RC-1" src="\assets\img\unnamed.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img id="RC-2" src="\assets\img\Smooth-the-Fruit-Ad-Poster-Download.jpg" class="d-block w-100"
                        alt="...">
                </div>
            </div>
        </div>

    </div>

</div>