<div class="">
    <div class="">
        <h5 class="custom-heading">Product Categories</h5>
        <nav class="card mb-3">
            <div class="card-body p-0">
                <ul>
                    <li *ngFor="let cat of category$ | async; index as i;">
                        <span data-toggle="collapse" [attr.href]="'#category1' + i" role="button" aria-expanded="false"
                            [attr.aria-controls]="'category1' + i">
                            {{cat.description}}
                            <i *ngIf="cat.subcategories.length > 0" class="fas fa-plus"></i>
                            <i *ngIf="cat.subcategories.length > 0" class="fas fa-minus"></i>
                        </span>
                        <ul *ngIf="cat.subcategories.length > 0" class="collapse" id="category1{{i}}">
                            <li *ngFor="let subcat of cat.subcategories; index as j;">
                                <ng-container *ngIf="subcat.subcategories.length > 0; else noCat">
                                    <a data-toggle="collapse" [attr.href]="'#category2' + j" role="button"
                                        aria-expanded="false" [attr.aria-controls]="'category2' + j">
                                        {{subcat.description}}
                                        <i *ngIf="subcat.subcategories.length > 0" class="fas fa-plus"></i>
                                        <i *ngIf="subcat.subcategories.length > 0" class="fas fa-minus"></i>
                                    </a>
                                    <ul *ngIf="subcat.subcategories.length > 0" class="collapse" id="category2{{j}}">
                                        <li *ngFor="let subcat2 of subcat.subcategories; index as k;">
                                            <ng-container *ngIf="subcat2.subcategories.length > 0; else noSubCat">
                                                <a data-toggle="collapse" [attr.href]="'#category3' + k" role="button"
                                                    aria-expanded="false" [attr.aria-controls]="'category3' + k">
                                                    {{subcat2.description}}
                                                    <i class="fas fa-plus"></i>
                                                    <i class="fas fa-minus"></i>
                                                </a>
                                                <ul *ngIf="subcat2.subcategories.length > 0" class="collapse"
                                                    id="category3{{k}}">
                                                    <li *ngFor="let subcat3 of subcat2.subcategories; index as l;">
                                                        <a
                                                            routerLink="/category/{{subcat3.id}}">{{subcat3.description}}</a>
                                                    </li>
                                                </ul>
                                            </ng-container>
                                            <ng-template #noSubCat>
                                                <a routerLink="/category/{{subcat2.id}}">
                                                    {{subcat2.description}}
                                                </a>
                                            </ng-template>

                                        </li>
                                    </ul>
                                </ng-container>
                                <ng-template #noCat>
                                    <a routerLink="/category/{{subcat.id}}">
                                        {{subcat.description}}
                                    </a>
                                </ng-template>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
        <ng-container *ngIf="slidebar$ | async as sliderbar;">
            <div id="Rotate-A-Group" class="carousel slide d-block mb-3" data-ride="carousel">
                <div class="carousel-inner">
                    <ng-container *ngFor="let advert1 of sliderbar['RotateA']; index as i;">
                        <div class="carousel-item" [class.active]="i === 0">
                            <img id="RA-1" src="https://api.deloffice.mu/images/product/{{advert1}}"
                                class="d-block w-100" alt="...">
                        </div>
                    </ng-container>
                </div>
                <ol class="carousel-indicators">
                    <ng-container *ngFor="let advert1 of sliderbar['RotateA']; index as i;">
                        <li data-target="#Rotate-A-Group" [attr.data-slide-to]="i" [class.active]="i === 0"></li>
                    </ng-container>
                </ol>
            </div>

            <div id="Rotate-B-Group" class="carousel slide d-block mb-3" data-ride="carousel">
                <div class="carousel-inner">
                    <ng-container *ngFor="let advert2 of sliderbar['RotateB']; index as i;">
                        <div class="carousel-item" [class.active]="i === 0">
                            <img src="https://api.deloffice.mu/images/product/{{advert2}}" class="d-block w-100"
                                alt="...">
                        </div>
                    </ng-container>
                </div>
                <ol class="carousel-indicators">
                    <ng-container *ngFor="let advert2 of sliderbar['RotateB']; index as i;">
                        <li data-target="#Rotate-B-Group" [attr.data-slide-to]="i" [class.active]="i === 0"></li>
                    </ng-container>
                </ol>
            </div>

            <div id="Rotate-C-Group" class="carousel slide d-block mb-3" data-ride="carousel">
                <div class="carousel-inner">
                    <ng-container *ngFor="let advert3 of sliderbar['RotateC']; index as i;">
                        <div class="carousel-item" [class.active]="i === 0">
                            <img src="https://api.deloffice.mu/images/product/{{advert3}}" class="d-block w-100"
                                alt="...">
                        </div>
                    </ng-container>
                </div>
                <ol class="carousel-indicators">
                    <ng-container *ngFor="let advert3 of sliderbar['RotateC']; index as i;">
                        <li data-target="#Rotate-C-Group" [attr.data-slide-to]="i" [class.active]="i === 0"></li>
                    </ng-container>
                </ol>
            </div>
        </ng-container>

    </div>

</div>