@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
:host{
    display: block;
    padding-top: 145px;
}
a, a:focus, a:active, a:hover {
    text-decoration: none;
}

div#bannerImage.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
    div{
        background-color: gainsboro;
    }
}
.col-4dot5 {
    -ms-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
    width: 37.5%;
}
.col-7dot5 {
    -ms-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.5%;
    width: 62.5%;
}


main#content {    
    padding: 20px 30px;
    .product{
        position:relative;
        .wrap-sticky-content-block{
            width: 100%;
            display: inline-block;
            .wrap-single-product-images{
                float:left;
                #carouselExampleControls{
                    .carousel-indicators {
                        position: static;
                        margin-top: 0px;
                        >li {
                            width: 100px;
                            img {
                                display: block;
                                opacity: 0.5;
                                border-width: medium;
                                border-style: 1px black;
                            }
                            &.active img {
                                opacity: 1
                            }
                            &:hover img {
                                opacity: 0.75
                            }
                        }
                    }
                    
                }
                
            }

        }
        .entry-summary{
            float:right;            
            h1{
                font-weight: 700 !important;
            }
            .price{
                color: blue;
            }
            span#cart {
                * {
                    margin-right: 10px;
                }
                input[type=number] {
                    width: 50px;
                }
                a {
                    display: block;
                    i{
                        margin:auto;
                    }
                }
                .fa, .far, .fas {
                    color:white;
                }
            }
        }
    }
    h2.background {
        margin-top: 20px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700 !important;
        position: relative;
        z-index: 1;
        
        &:before {
            border-top: 2px solid #dfdfdf;
            content:"";
            margin: 0 auto; /* this centers the line to the full width specified */
            position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
            top: 50%; left: 0; right: 0; bottom: 0;
            width: 100%;
            z-index: -1;
        }

        span { 
            /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
            background: #fff; 
            padding: 0 15px; 
        }
    }
    .card {
            box-shadow: none;
            border: 0px solid transparent;
            border-radius: 0px;

            .card-img-top {
                border-radius: 0px;
            }

            .card-body {
                padding: 15px 0px;

                h5.card-title {
                    font-size: .90rem;
                    line-height: 1.3rem;
                    text-align: center;
                }
                p.card-text {
                    font-size: .90rem;
                    text-align: center;
                }

                span#cart {
                    -ms-flex-pack: distribute !important;
                    justify-content: space-around !important;
                    * {
                        margin-right: 10px;
                        
                    }
                    input[type=number] {
                        width: 50px;
                    }
                    a {
                        display: block;
                        i{
                            margin:auto;
                        }
                    }
                    .fa, .far, .fas {
                        color:white;
                    }
                }
            }
        }
    }

    .fa, .far, .fas {
        font-family: "Font Awesome 5 Free";
    }

    @media (min-width: 768px){
        .product.wrap-sticky-content-block.wrap-single-product-images,
        .product.wrap-sticky-content-block.entry-summary{
            width: calc(50% - 15px);
            margin-bottom: 40px;
    }

    /////////related products carousel
    #carousel-example{
        div {
            >.col-lg-3 {
                &:not(:last-child) {
                    border-right: 1px solid rgba(black, 0.3);
                }
            }
        }

        .carousel-control-next.disabled, .carousel-control-prev.disabled{
            cursor:not-allowed;
        }
        .carousel-control-prev-icon, .carousel-control-next-icon {
            height: 40px;
            width: 40px;
        }
        .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='darkblue' stroke='red' stroke-width='0.25' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        } //fill color change

        .carousel-control-next-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='darkblue' stroke='red' stroke-width='0.25' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        }
        @media (min-width: 768px) and (max-width: 991px) {
            /* Show 4th slide on md if col-md-4*/
            .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
                position: absolute;
                top: 0;
                right: -33.3333%;  /*change this with javascript in the future*/
                z-index: -1;
                display: block;
                visibility: visible;
            }
        }
        @media (min-width: 576px) and (max-width: 768px) {
            /* Show 3rd slide on sm if col-sm-6*/
            .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
                position: absolute;
                top: 0;
                right: -50%;  /*change this with javascript in the future*/
                z-index: -1;
                display: block;
                visibility: visible;
            }
        }
        @media (min-width: 576px) {
            .carousel-item {
                margin-right: 0;
            }
            /* show 2 items */
            .carousel-inner .active + .carousel-item {
                display: block;
            }
            .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
            .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
                transition: none;
            }
            .carousel-inner .carousel-item-next {
                position: relative;
                transform: translate3d(0, 0, 0);
            }
            /* left or forward direction */
            .active.carousel-item-left + .carousel-item-next.carousel-item-left,
            .carousel-item-next.carousel-item-left + .carousel-item,
            .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
                position: relative;
                transform: translate3d(-100%, 0, 0);
                visibility: visible;
            }
            /* farthest right hidden item must be also positioned for animations */
            .carousel-inner .carousel-item-prev.carousel-item-right {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                display: block;
                visibility: visible;
            }
            /* right or prev direction */
            .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
            .carousel-item-prev.carousel-item-right + .carousel-item,
            .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
                position: relative;
                transform: translate3d(100%, 0, 0);
                visibility: visible;
                display: block;
                visibility: visible;
            }
        }
        /* MD */
        @media (min-width: 768px) {
            /* show 3rd of 3 item slide */
            .carousel-inner .active + .carousel-item + .carousel-item {
                display: block;
            }
            .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
                transition: none;
            }
            .carousel-inner .carousel-item-next {
                position: relative;
                transform: translate3d(0, 0, 0);
            }
            /* left or forward direction */
            .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
                position: relative;
                transform: translate3d(-100%, 0, 0);
                visibility: visible;
            }
            /* right or prev direction */
            .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
                position: relative;
                transform: translate3d(100%, 0, 0);
                visibility: visible;
                display: block;
                visibility: visible;
            }
        }

        /*LG 6th  -  if you want a carousel with 6 slides */
       @media (min-width: 991px) {
            /* show 4th item */
            .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
                display: block;
            }
            
            .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
                transition: none;
            }
            
            /* Show 5th slide on lg if col-lg-3 */
            .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
                position: absolute;
                top: 0;
                right: -25%;  /*change this with javascript in the future*/
                z-index: -1;
                display: block;
                visibility: visible;
            }
            
            /* left or forward direction */
            .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
                position: relative;
                transform: translate3d(-100%, 0, 0);
                visibility: visible;
            }
            
            /* right or prev direction //t - previous slide direction last item animation fix */
            .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
                position: relative;
                transform: translate3d(100%, 0, 0);
                visibility: visible;
                display: block;
                visibility: visible;
            }

        }        
    }/////////related products carousel END
}