<div class="container-fluid px-0">
    <div class="furniture-banner">
        <img src="assets\img\delivery.jpg" alt="About Us" class="w-100">
        <div class="container title d-none d-xl-block">
            <h1 class="d-none d-xl-block">Delivery Policy</h1>
        </div>
        <div class="container title d-block d-sm-none">
            <h6 class="">Delivery Policy</h6>
        </div>
    </div>
    <div class="w-100 mb-3 d-none d-sm-block">
        <embed src="assets\pdf\Delivery Times_1170x1650.pdf#toolbar=0&navpanes=0&scrollbar=0&view=FitH"
            type="application/pdf" width="100%" height="900px" />
    </div>
    <div class="d-block d-sm-none p-2 mText">
        <h2>Delivery times</h2>
        <p class="text-justify">
            Deliveries are made Monday to Friday (excluding public holidays) from 8.00am to 5.00pm.<br><br>
            Deliveries are on a next day basis on orders placed by 4.00pm. All orders placed after 4.00pm will be
            treated as having
            been ordered the following day. Orders placed on a Friday before 4.00pm will be delivered Monday or the next
            working day
            if Monday is a public holiday. All orders placed online on a Saturday or Sunday will be processed on Monday
            for delivery
            on Tuesday.<br><br>
            Delivery of some items may take 2 to 7 days or even longer period. These items will be clearly marked on our
            site. Items
            are delivered either by our own delivery staffs or by our approved delivery contractors. In either case, a
            signature is
            required to acknowledge receipt of goods.<br><br>
            Delivery can take place anytime between 8.00am and 5.00pm. A specific delivery time cannot be supplied.
            Deliveries may
            actually take longer than our usual timeframes due to unforeseen circumstances.
        </p>
        <h2>Partial delivery</h2>
        <p class="text-justify">
            Your order may be delivered in one or more lots depending on the availability of the items ordered and the
            planning of
            our logistics resources. However, if at the time your order is being processed we note that one or more
            items are not
            available and cannot be delivered within the next 3 working days following your order, we shall contact you
            immediately,
            either by mail or by phone, to propose you to cancel the unavailable item(s). Any decision to wait until we
            receive the
            missing item(s) will be at your own risk. In any case, waiting period cannot exceed 7 working days from the
            date of your
            order. If you have ordered an item which, for any reason, cannot be delivered within the maximum waiting
            period of 7
            working days, we shall withdraw the order for that item and shall inform you accordingly. This does not
            concern Oversize
            items and Special Orders for which the waiting period can be longer.
        </p>
        <p class="text-justify">
            Available items will be delivered within our usual delivery timeframes. Invoices will be raised only for
            items which
            have been delivered.
        </p>
        <h2>Free delivery</h2>
        <p class="text-justify">
            Delivery is free for orders of Rs 2,000 (excluding VAT) or more to established Free Delivery Zones. This
            excludes items
            classified as Oversize for which an Oversize Delivery Charge is applicable.
        </p>
        <p class="text-justify">
            Free Delivery Zones include Main City Areas namely Port Louis, Beau Bassin, Rose Hill, Eben Cybercity,
            Quatre Bornes,
            Vacoas, Phoenix, Curepipe and some other areas. At the time of registration you will be informed whether you
            are
            eligible to our Free Delivery Zones policy.
        </p>
        <p class="text-justify">
            If your delivery address is located in a Free Delivery Zone and your order is less than Rs 2,000 (excluding
            VAT), you
            will be charged a small delivery fee of Rs 100+VAT.
        </p>
        <p class="text-justify">
            For deliveries to areas outside the Free Delivery Zones you will be charged a delivery fee of Rs 200+VAT for
            an order of
            any value (excluding items classified as Oversize).
        </p>
        <p class="text-justify">
            A nominal handling fee of Rs 100+VAT applies to all orders but handling fees will not apply on replacement
            orders or
            returned items.
        </p>
    </div>
</div>