<div class="container-fluid px-0">
    <div class="furniture-banner">
        <img src="assets\img\delivery.jpg" alt="About Us" class="w-100">
        <div class="container title d-none d-xl-block">
            <h1 class="d-none d-xl-block">Returns Policy</h1>
        </div>
        <div class="container title d-block d-sm-none">
            <h6 class="">Returns Policy</h6>
        </div>
    </div>
    <div class="w-100 mb-3 d-none d-sm-block">
        <!-- <embed src="assets\pdf\Delivery Times_1170x1650.pdf#toolbar=0&navpanes=0&scrollbar=0&view=FitH"
            type="application/pdf" width="100%" height="900px" /> -->
    </div>
    <div class="d-block d-sm-none p-2 mText">
        <p class="text-justify">
            If you are not completely satisfied with your product, you can return it to us within 2 working days of
            delivery for a
            full refund after deduction of Handling Fee and Delivery Charges. Products should be returned in its
            original packaging
            including any instruction manuals and/or information booklets. Custom, worn, damaged or altered items are
            not
            returnable. You will need to inform us of your intention to return a product in writing, by fax or mail, and
            provide us
            with the following:
        </p>
        <p>
            ● A copy of DelOffice VAT Invoice<br>
            ● A copy of DelOffice Delivery Order<br>
            ● The reason for returning the product<br>
        </p>
        <p class="text-justify">
            We shall arrange to pick up the product at your registered address. A Credit Note or Cheque for refund will
            be issued
            only when we have been satisfied that all the conditions for a return have been fulfilled and the product is
            in good
            condition. Initial Handling Fee and Delivery Charge are not refundable. On the other hand, if initial
            delivery was made
            free of charge, a Delivery Charge of Rs 100 will be claimed. It will either be debited to your account with
            DelOffice or
            deducted from the amount to be refunded in case payment has been made.
        </p>

    </div>
</div>