<div id="wrapper" class="container-fluid">
    <footer id="main-footer" class="row d-flex flex-column">
        <div id="top-footer" class="d-flex flex-column flex-lg-row">
            <div class="footer-link-section mb-3">
                <h6 class="mb-3">About Deloffice</h6>

                <ul class="m-0 p-0">
                    <li><a routerLink="/about">About Us</a></li>
                    <li><a routerLink="/our-corporate-values">Our Corporate Values</a></li>
                    <li><a routerLink="/Membership-Policy">Membership Policy</a></li>
                    <li><a routerLink="/anti-bribery-policy">Anti-Bribery Policy</a></li>
                </ul>
            </div>
            <div class="footer-link-section mb-3">
                <h6 class="mb-3">Customer Service</h6>

                <ul class="m-0 p-0">
                    <li><a routerLink="/Terms-and-conditions">Terms & Conditions</a></li>
                    <li><a routerLink="/Privacy-and-Security">Privacy & Security</a></li>
                    <li><a routerLink="/delivery-policy">Delivery Policy</a></li>
                    <li><a routerLink="/returns-policy">Returns Policy</a></li>
                    <li><a routerLink="/faq">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-link-section mb-3">
                <h6 class="mb-3">Career</h6>
                <li><a routerLink="/job-opportunities">Job Opportunities</a></li>
            </div>
            <div class="footer-link-section mb-3">
                <h6 class="mb-3">My Account</h6>

                <ul class="m-0 p-0">
                    <li><a routerLink="/login">Login</a></li>
                    <li><a routerLink="/register">Register</a></li>
                </ul>
            </div>
            <div class="footer-link-section mb-3">
                <h6 class="mb-3">Contact Us</h6>
                <ul class="m-0 p-0 justify-items between">
                    <li>
                        <a href="https://www.google.com/maps/dir//DelOffice+Ltd,+MU,+Ave+Des+Kerries,+Morcellement+Raffray+21811/@-20.1499551,57.4966841,12z/data=!4m16!1m6!3m5!1s0x217c51128da0dcf3:0x31de5ffbeeb8a1c0!2sDelOffice+Ltd!8m2!3d-20.1390445!4d57.5327863!4m8!1m0!1m5!1m1!1s0x217c51128da0dcf3:0x31de5ffbeeb8a1c0!2m2!1d57.5327863!2d-20.1390445!3e2"
                            target="_blank"><i class="fas fa-map-marker-alt pr-2"></i> 
                            Get Directions
                        </a>
                    </li>                   
                    <li><a routerLink="/contact-us"><i class="far fa-comment-dots mr-2"></i>Contact Us</a></li>
                    <li>
                        <a href="https://www.facebook.com/delofficeltd/" target="_blank">
                            <i class="fab fa-facebook-f fa-sm pr-2"></i>
                            DelOffice Ltd</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/deloffice/" target="_blank">
                            <i class="fab fa-instagram fa-sm pr-2"></i>
                            DelOffice Ltd</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="bottom-footer">
            <p class="text-center m-0">Copyright © 2020 DelOffice Ltd. All rights reserved.</p>
        </div>
    </footer>
</div>