<body>
<div>
    <div class="w-100">
        <div class="d-flex">
            <div class="flex-fill">
                <h5>About DelOffice</h5>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Corporate Values</a></li>
                    <li><a href="#">Job Opportunities</a></li>
                    <li><a href="#">Membership Policy</a></li>
                    <li><a href="#">Anti-Bribery Policy</a></li>
                </ul>
            </div>
            <div class="flex-fill">
                <h5>Customer Service</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Delivery Policy</a></li>
                    <li><a href="#">Returns Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy & Security</a></li>
                </ul>
            </div>
            <div class="flex-fill">
                <h5>My Account</h5>
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                </ul>
            </div>
            <div class="flex-fill">
                <h5>Contact Us</h5>
                <ul>
                    <li><a href="https://www.google.com/maps/dir//DelOffice+Ltd,+MU,+Ave+Des+Kerries,+Morcellement+Raffray+21811/@-20.1499551,57.4966841,12z/data=!4m16!1m6!3m5!1s0x217c51128da0dcf3:0x31de5ffbeeb8a1c0!2sDelOffice+Ltd!8m2!3d-20.1390445!4d57.5327863!4m8!1m0!1m5!1m1!1s0x217c51128da0dcf3:0x31de5ffbeeb8a1c0!2m2!1d57.5327863!2d-20.1390445!3e2" target="_blank">Ave. de Kerries,<br>Morc Raffray,<br>Le Hochet,<br>Mauritius</a></li>
                    <li>(+230) 249 3200</li>
                </ul>
            </div>
        </div>

        <br><br>
        <footer>Copyright&copy; 2020 DelOffice Ltd. All Rights reserved.</footer>

    </div>
</div>

</body>

