<div id="wrapper" class="container-fluid">
    <footer id="main-footer" class="row d-flex flex-column">
        <div id="top-footer" class="d-flex flex-column flex-lg-row">
            <div class="footer-link-section mb-3">
                <h6 class="mb-3">About Deloffice</h6>

                <ul class="m-0 p-0">
                    <li><a href="#"><i class="fas fa-phone-alt mr-2"></i> Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                </ul>
            </div>
            <div class="footer-link-section mb-3">
                <h6 class="mb-3">Customer Service</h6>

                <ul class="m-0 p-0">
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                </ul>
            </div>
            <div class="footer-link-section mb-3">
                <h6 class="mb-3">Register</h6>

                <ul class="m-0 p-0">
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                </ul>
            </div>
            <div class="footer-link-section mb-3">
                <h6 class="mb-3">Contact Us</h6>

                <ul class="m-0 p-0">
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                </ul>
            </div>

        </div>
        <div id="bottom-footer">
            <p class="text-center m-0">Copyright © 2020 DelOffice Ltd. All rights reserved.</p>
        </div>
    </footer>

</div>