footer#main-footer {
    background-image: url('/assets/img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: blue;
    color: white;

    > * {
        padding: 5px 30px;
    }

    #top-footer {
        padding: 20px 30px;
        .footer-link-section {
            flex: 0 1 25%;
            max-height: 200px;

            h6 {
                font-weight: bold;
                text-transform: uppercase;
            }

            ul {
                list-style: none;
                li {
                    a {
                        display: block;
                        padding: 3px 0px;
                        color: white;
                    }
                }
            }
        }
    }

    #bottom-footer {
        padding: 10px 30px;
        font-size: 13px;
    }
}