<div class="container-fluid px-0">
    <div class="furniture-banner">
        <img src="assets\img\membership.jpg" alt="" class="w-100">
        <div class="container title d-none d-xl-block">
            <h1 class="d-none d-xl-block">Membership Policy</h1>
        </div>
        <div class="container title d-block d-sm-none">
            <h6 class="">Membership Policy</h6>
        </div>
    </div>
    <div class="w-100 mb-3 d-none d-sm-block">
        <img src="assets\img\Membership Policy_1170x620.png" alt="Membership Policy" class="w-100">
    </div>
    <div class="d-block d-sm-none p-2">
        <p class="text-justify">
            www.deloffice.mu is an online store for business customers, including:<br>
            •Corporate and non corporate entities<br>
            •Government authorities<br>
            •Parastatal bodies<br>
            •Government owned companies<br>
            •Ministries and other government institutions<br>
        </p>
        <p class="text-justify">
            You will not be allowed to place an order unless you are registered as a member. Application for membership
            should be made online and approval takes approximately 2 to 3 working days. Registration is simple and free.
            Should you wish to join the DelOffice community, please carefully read our Terms of Use.

        </p>
        <p class="text-justify">
            A DelOffice business account will be created for approved business customers. With your login and password,
            you can access your DelOffice account and start placing orders. Membership provides you with exclusive
            offers and privileges. DelOffice Ltd, however, reserves the right to reject an application for membership
            without any justification and prejudice.

        </p>
        <p class="text-justify">
            If you wish to register now, click on the button
        </p>


    </div>
</div>