<div class="container-fluid px-0">
    <div class="furniture-banner">
        <img src="assets\img\" alt="" class="w-100">
        <div class="container title d-none d-xl-block">
            <h1 class="d-none d-xl-block">Membership Policy</h1>
        </div>
        <div class="container title d-block d-sm-none">
            <h6 class="">Membership Policy</h6>
        </div>
    </div>
    <div class="w-100 mb-3 d-none d-sm-block">
        <!-- <embed src="assets\pdf\Corporate Values_1170x1000.pdf#toolbar=0&navpanes=0&scrollbar=0&view=FitH"
            type="application/pdf" width="100%" height="900px" /> -->
    </div>
    <div class="d-block d-sm-none p-2">
        <h5>1.Our commitment to keeping your trust</h5>
        <p class="text-justify">
            We commit to always handle your personal information securely and carefully. We strictly comply with the Data Protection Act 2009 and other applicable Mauritian privacy laws.
           
        </p>

        <h5>2.Why we collect information </h5> 
        <p class="text-justify">
            to process your order<br>
            to avoid you the hassle of re-entering your details every time you shop with us.<br>
            to provide after sales service (we may pass your details to another organisation for this purpose).<br>
            to supply/deliver products or services you have purchased.<br>
            to better understand your requirements and preferences.<br>
            to provide you with offers that are of greater interest or benefit to you.<br>

            We may need to pass the information we collect to other companies for administrative purposes such as processing and sorting data, monitoring how customers use the Website and issuing our e-mails for us. Third parties will not be allowed to use your personal information for their own purposes.
        </p>

        <h5>3.How we collect this information</h5>
        <p class="text-justify">
            We collect your personal details through forms and emails which you knowingly provide us, such as name, address,telephone number etc.<br><br>
            Sometimes we add to your personal information data from external sources. This is usually only done to verify theaccuracy of the information we have, and to personalise and improve our services.
        </p>

        <h5>4.What we collect</h5>
        <p class="text-justify">
            Your name, business name, billing address, delivery address, phone number, fax number, e-mail address, contact
            person, VAT Registration No., Business Registration No., job title, type of organisation and number of employees. These are details which you provide to us knowingly through forms and emails.<br><br>

            Your preferences based on your orders and inquiries.
            Your IP Address which is a string of numbers unique to your computer that is recorded by ourweb server when you request any page or component on the website. This information is used tomonitor your usage of the website.<br>
            Data recorded by the website which allows us to recognise you and your preferred settings. This
            saves you from re-entering information on return visits to the site. Such data is recorded locally on
            your computer through the use of cookies. Most browsers can be programmed to reject, or warn
            you before downloading cookies.
        </p>
        
        <h5>5.Sharing your information</h5>
        <p class="text-justify">
            We may need to pass personal details such as your name, business name and address to service providers who
            perform some of our deliveries.In case we have any doubt regarding information you supplied to us, we will, if we deem it appropriate, report this to the appropriate authorities for them to investigate.<br><br>

            In the event we sell our business, your information may be transferred as part of that sale. We will not use your information for purposes unrelated to the services we provide without your consent.
            We may, from time to time, provide data to other business partners for various purposes such as marketing research.<br><br>

            In this situation we make it impossible to identify who you are.If you would like to access your personal information, please go to “My Account” or email your request via Contact Us
            for any further details.
        </p>
        
        <h5></h5>
        <p class="text-justify">
          
        </p>
        
        <h5></h5>
        <p class="text-justify">
          
        </p>
        
        <h5></h5>
        <p class="text-justify">
          
        </p>
        
       
    </div>
</div>
