<div class="container-fluid px-0">
    <div class="furniture-banner">
        <img src="assets\img\corporatevalues.jpg" alt="About Us" class="w-100">
        <div class="container title d-none d-xl-block">
            <h1 class="d-none d-xl-block">FAQ</h1>
        </div>
        <div class="container title d-block d-sm-none">
            <h6 class="">FAQ</h6>
        </div>
    </div>
    <div class="w-100 mb-3 d-none d-sm-block">
        <embed src="assets\pdf\FAQ_1170x2960.pdf#toolbar=0&navpanes=0&scrollbar=0&view=FitH" type="application/pdf"
            width="100%" height="900px" />
    </div>
    <div class="d-block d-sm-none p-2">
        <h2>About DelOffice</h2>
        <h3>Who are DelOffice?</h3>
        <p class="text-justify">
            DelOffice is Mauritius’ largest online office supplies store for business corporates and organisations. From
            basic
            office, messroom, cleaning supplies to ink & toners, advertising and printing services, our store exists for
            meeting the
            needs of the working people. We offer you convenient shopping and delivery facility for the smooth running
            of your
            office.
        </p>
        <h3>What are our corporate values?</h3>
        <p class="text-justify">
            Trust, honesty and integrity are our principal core values and we make it a rule to follow. We treat both
            our customers
            and suppliers with respect and fairness at all times and expect the same in return. Aware of our social
            responsibility
            and feeling concern for the environment, at DelOffice we have chosen to minimise everyday wastage by the way
            we work.
            Read more on Our Corporate Values.
        </p>
        <h3>Who do I contact concerning employment?</h3>
        <p class="text-justify">
            See Job Opportunities at DelOffice or send your <strong>Curriculum Vitae</strong> at <u>hr@deloffice.mu</u>.
        </p>
        <h2>Shop Online</h2>
        <h3>Which method of payment is accepted?</h3>
        <p class="text-justify">
            Payment by cheque is accepted on delivery of goods. We do not accept cash payment for security reasons
            unless prior
            arrangement has been made. Business customers may apply for credit facilities after registration by sending
            an official
            request to <u>sales@deloffice.mu</u> (or <u>accounts@deloffice.mu</u>).
        </p>
        <h3>Can I order an item which is not available on the web store?</h3>
        <p class="text-justify">
            Order an item which is not available on our web store via our Product Inquiry Form or on
            <u>sales@deloffice.mu</u>.
            We will make our best to satisfy your needs.
        </p>
        <h3>Will I receive an order acknowledgement?</h3>
        <p class="text-justify">
            Our system will send you an automatic acknowledgement of your order. Once your order is processed, our sales
            team will
            communicate with you by phone or e-mail to advise you of the status of your order.
        </p>
        <h3>What do I do if I need some technical help with a product?</h3>
        <p class="text-justify">
            If you have trouble using a product, use our inquiry form. You will find this form in
            <a href="/contact-us"><u>Contact Us</u></a>.
        </p>
        <h2>My Account</h2>
        <h3>Can I change the details in my DelOffice online account?</h3>
        <p class="text-justify">
            You can change your DelOffice online account details at anytime.
            Simply go to My Account, under Accounts Details, click on the edit icon.
        </p>
        <h3>How do I change my password?</h3>
        <p class="text-justify">
            Changing your password is easy. You simply need to go to <u>My Account</u> after signing in, click on the
            Change password icon
            and enter your new password of not less than 8 characters.
        </p>
        <h2>Delivery</h2>
        <h3>What are your delivery rates?</h3>
        <p class="text-justify">
            Delivery to established Free Delivery Zones<br>
            Orders of Rs 2,000 (excluding VAT) or more - Free<br>
            Orders less than Rs 2,000 (excluding VAT) - Rs 100 per delivery<br>
            Delivery outside established Free Delivery Zones<br>
            Orders of any value - Rs 200 per delivery<br>
            A nominal handling fee of Rs 100+VAT is applied to all orders. For items classified as Oversize,
            a special delivery fee is applied
        </p>
        <h3>Where does DelOffice deliver to?</h3>
        <p class="text-justify">
            We deliver in the main City Areas namely Port Louis, Beau Bassin, Rose Hill, Ebene Cybercity, Quatre Bornes,
            Vacoas,
            Phoenix, Curepipe and surroundings. We can also go North up to Goodlands and Grand Bay, East up to Quartier
            Militaire
            and West up to Flic en Flac. If you want to know whether we can deliver to your place, contact us at
            <u>sales@deloffice.mu</u>
        </p>
        <h3>Do you have any pick-up point available?</h3>
        <p class="text-justify">
            DelOffice does not currently have any store where you can pick your order. All orders are delivered at your
            door.
        </p>
        <h3>Do you deliver to P.O Boxes?</h3>
        <p class="text-justify">
            P.O Boxes cannot be used as a delivery address for convenience and safety reasons. A street address is
            required for
            delivery. DelOffice will deliver to the delivery address which you have provided in the registration form.
        </p>
        <h3>How can I check the status of my order?</h3>
        <p class="text-justify">
            Call our sales team to see the on-going status of your order or go to
            <a href="/contact-us"><u>Contact Us</u></a>.
        </p>
        <h2>Returns</h2>
        <h3>Can I return the goods I have ordered?</h3>
        <p class="text-justify">
            You can return the goods to DelOffice within 2 working days of delivery for a full refund after deduction of
            Handling
            Fee and Delivery Charges.
        </p>
        <h3>What must I do for you to accept returned goods?</h3>
        <p class="text-justify">
            You will need to inform us of your intention to return a product in writing, by fax or mail, and provide us
            with a copy
            of DelOffice VAT Invoice, a copy of DelOffice Delivery Order and the reason for returning the product.
        </p>
        <h3>How do I return my goods?</h3>
        <p class="text-justify">
            We shall arrange to pick up the product at your delivery address. Products should be returned in its
            original packaging
            including any instruction manuals and/or information booklets. Custom, worn, damaged or altered items are
            not
            returnable.
        </p>
        <h3>What if I want to cancel my order?</h3>
        <p class="text-justify">
            Cancellation should be made within two working days of delivery. Special orders cannot be cancelled.
            <b>See Terms of Use</b>.
        </p>
        <h3>How long will it take to receive my refund?</h3>
        <p class="text-justify">
            After return of products and fulfillment of cancellation formalities,
            refund may take from one week to two weeks.
        </p>
        <h2>Privacy and Security</h2>
        <h3>Why do you need my name, address, e-mail address, telephone number, etc.?</h3>
        <p class="text-justify">
            To process your order and to avoid you the hassle of re-entering your details every time you shop with us.
            For providing
            you after sales service including supplying or delivering products or services you have purchased to better
            understand
            your requirements and preferences. We use your info details to send you with offers that are of greater
            interest or
            benefit to you.
        </p>
        <h3>Are my personal information securely safe-guarded?</h3>
        <p class="text-justify">
            We commit to take all reasonable steps to store your personal information securely. Only authorised team
            members have
            access to our customers’ personal information. Your critical information is encrypted, through the use of
            SSL technology
            which is extremely difficult to be intercepted.
        </p>
        <h3>Do you share my personal information with third parties?</h3>
        <p class="text-justify">
            We may need to pass personal details such as your name, business name and address to service providers who
            perform some
            of our deliveries. However, we commit not to share your detailed personal information to third parties for
            marketing
            purposes.
        </p>
        <h3>Do you use cookies on your website?</h3>
        <p class="text-justify">
            We use cookies on our website which simply tells us what areas of our site your computer has visited. It
            also tells us
            if you have selected a product but it does not tell us your personal identity unless you are registered with
            us.
        </p>
        <h3>Can I have access to my personal information?</h3>
        <p class="text-justify">
            Go to My Account to view your personal information and company details.
        </p>
        <h3>What do I do if I forgot my password?</h3>
        <p class="text-justify">
            Click on <u>Forgot your password</u>? found just below the password field in <u>Register / Sign in</u> to
            retrieve your password.
            If you keep on experiencing problems logging in, then please
            <a href="/contact-us"><u>Contact Us</u></a> for assistance
        </p>
    </div>
</div>