// * {
//     font-family: 'Roboto', sans-serif;
// }

a, a:focus, a:active, a:hover {
    text-decoration: none;
}

h5 {
    &.custom-heading {
        text-transform: uppercase;
        color: white;
        margin: 0;
        margin-bottom: 15px;
        font-size: 18px;
        display: block;
        text-align: center;
        padding: 7px;
        background-image: url('/assets/img/banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-color: blue;
        border: 1px solid rgb(11, 11, 88);
    }
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
  
.header-position-notifier {
    height: 1px;
}
#bottom-header{
    padding: 0px 30px;
}
main#content {
    padding: 20px 30px;
}
header#main-header {
    background-image: url('/assets/img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: blue;

    > * {
        padding: 0 30px;
    }

    .navbar-default .navbar-nav > li.dropdown:hover > a, 
    .navbar-default .navbar-nav > li.dropdown:hover > a:hover,
    .navbar-default .navbar-nav > li.dropdown:hover > a:focus {
        background-color: rgb(231, 231, 231);
        color: rgb(85, 85, 85);
    }
    li.dropdown:hover > .dropdown-menu {
        a{
            color: black !important;
        }
        display: block;
    }

    #top-header {
        padding: 7px 30px;
        color: white;
    }

    #bottom-header {
        background: rgb(208,208,208);
        background: linear-gradient(234deg, rgba(208,208,208,1) 0%, rgba(255,255,255,1) 25%, rgba(208,208,208,1) 50%, rgba(255,255,255,1) 75%, rgba(208,208,208,1) 100%);

        a#logo {
            margin: 8px 0;
            display: block;
            width: 200px;
        }

        form#search-form {
            border-radius: 7px;
            border: 1px solid #a1a1a1;
            padding: 6px 30px;
            background-color: white;
            opacity: 0.9;
            input[type=search] {
                width: 300px;
                background-color: transparent;
                border: 0px solid transparent;
                outline: none !important;
            }

            button {
                background-color: transparent;
                border: 0px solid transparent;
            }
        }

        #items {
            span {
                display: flex;
                align-items: center;
                outline: none !important;
                &:hover {
                    cursor: pointer;
                }
            }
            span:not(:last-child) {
                margin-right: 28px;
                
            }
            i {
                font-size: 24px;
                margin-right: 7px;
            }
            small {
                font-size: 1rem;
                font-weight: bold;
            }
            // #account {
                
            // }
        }

    }

    nav#main {
        background-image: url('/assets/img/banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-color: blue;
        padding: 0px 30px;
        position: relative;
        > ul {
            list-style: none;
            margin: 0px;
            padding: 0px;

            > li {
                float: left;

                &.disabled {
                    a {
                        cursor: not-allowed;
                        color: rgba(#fff, 0.7);
                    }
                }
                > a {
                    display: block;
                    padding: 15px 20px;
                    color: white;
                    cursor: pointer;
                
                }
                > .dropdown-menu-del {
                    position: absolute;
                    top: 51px;
                    z-index: 25;
                    left: 0;
                    display: none;
                    width: 100%;
                    padding: 10px 0;
                    background-color: white;
                    justify-content: space-between;
                    box-shadow: 0 0 5px rgba(#000, 0.3);
                    

                    ul {
                        color: black;
                        flex: 0 0 60%;
                        columns: 3;
                        min-height: 300px;
                        max-height: 300px;
                        // display: flex;
                        // flex-wrap: wrap;
                        // align-items: flex-start;
                        // justify-content: flex-start;
                    
                        li {
                            // flex: 0 0 33.3333333%;
                            min-height: 41px;
                            max-height: 41px;
                            a {
                                display: block;
                                padding: 10px 0;
                                color: black;
                            }
                        }
                    }

                    img {
                        flex: 0 0 25%;
                    }
                }
                &:not(.disabled):hover {
                    .dropdown-menu-del {
                        display: flex;
                    }
                }
                > &:first-child {
                    a {
                        padding-left:5px;
                    }
                }
                > &:not(:last-child) {
                    a {
                        border-right: 1px solid rgba(#fff, 0.7);
                    }
                }
            }
        }
    }

    // sidebar cart menu START
    .modal{
        .modal-body{
            input[type=number] {
                width: 60px;
            }
            .cart_delete{
                > i .fa, .far, .fas {
                    color:white;
                }
            }
        }
    }

    .modal-dialog-slideout {
        min-height: 100%; 
        margin: 0 0 0 auto;
        background: #fff;
    }
    .modal.fade .modal-dialog.modal-dialog-slideout {
        -webkit-transform: translate(100%,0)scale(1);
        transform: translate(100%,0)scale(1);
    }
    .modal.fade.show .modal-dialog.modal-dialog-slideout {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
        display: flex;align-items: stretch;
        -webkit-box-align: stretch;
        height: 100%;
    }
    .modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{
        overflow-y: auto;
        overflow-x: hidden;
    }
    .modal-dialog-slideout .modal-content{
        border: 0;
    }
    .modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {
        height: 69px;
        display: block;
    } 
    .modal-dialog-slideout .modal-header h5 {
        float:left;
    }
    // sidebar cart menu END
}
