  <header>
    <div class= "container-fluid" >
      <div>
        <div class="row align-middle topbanner">
          <div class="col-sm-12 col-md-12 col-lg-12 ">
            <div class="pull-right classlink">
              <li><i class="material-icons">local_phone</i>+230 249 3200</li>
              <li><a href="mailto:sales@deloffice.mu"><span class="material-icons">mail</span>sales@deloffice.mu</a></li>
            </div>
          </div>
        </div>
          <div class="d-flex justify-content-between contentblock_container" >
              <div class="col-sm-2 col-md-2 col-lg-2 navlogo">
                <a href="#"><img src="assets/img/logo.svg" width="240px"></a>  
              </div>

              <div class="d-flex justify-content-center col-sm-6 col-md-6 col-lg-6">
                <div class="input-group">
                 <input class="form-control" placeholder="Search" type="text">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fas fa-search"></i>
                      </span>
                   </div>
                </div>
              </div>

              <div class="col-sm-2 col-md-2 col-lg-2">
                <a href="#">Login/Register</a>
              </div>

              <div class="col-sm-1 col-md-1 col-lg-1">
                <a href="#"><span class="material-icons">favorite</span></a>
              </div>

              <div class="col-sm-1 col-md-1 col-lg-1">
                <a href="#"><i class="material-icons">shopping_cart</i></a>
              </div>
          </div>
          <div class="align-middle">
            <div id="banner" class="d-flex justify-content-between align-items-center">
                <nav>
                  <ul>
                      <li><a href="#">Paper</a></li>
                      <li><a href="#">Office Supplies</a></li>
                      <li><a href="#">Food</a></li>
                      <li><a href="#">Beverages</a></li>
                      <li><a href="#">Cleaning</a></li>
                      <li><a href="#">Personal Hygiene</a></li>
                      <li><a href="#">Ink & Toners</a></li>
                      <li><a href="#">Printing</a></li>

                      <li><a href="#"><img src="" width="240px"></a></li>
                  </ul>
              </nav>
            </div>
          </div>
      </div>
    </div>
  

  </header>