<div id="wrapper" class="container-fluid">
  <header id="main-header" class="row d-flex flex-column">
    <div id="top-header" class="w-100 d-flex justify-content-between align-items-center">
      <span class="d-none d-lg-block flex-fill"><i class="fas fa-map-marker-alt mr-2"></i>Le Hochet, Terre
        Rouge, Mauritius</span>
      <span class="d-none d-lg-block flex-fill"><i class="fas fa-phone-alt mr-2"></i>+230 249 3200</span>
      <span class="d-block text-center flex-fill"><i class="fas fa-envelope mr-2"></i>sales@deloffice.mu</span>
    </div>
    <div id="bottom-header" class="w-100 d-flex justify-content-between align-items-center flex-column flex-lg-row">
      <a routerLink="/" id="logo">
        <img src="\assets\img\logo.svg" alt="deloffice_logo" class="img-fluid">
      </a>

      <form id="search-form" class="d-flex">
        <input (keyup.enter)="search()" type="search" name="search" id="search" placeholder="Type in to search..."
          [(ngModel)]="searchKeyword">
        <button (click)="search()"><i class="fas fa-search"></i></button>
      </form>

      <div id="items" class="d-flex justify-content-between">
        <span id="account">
          <i class="fas fa-user"></i>
          <!-- <small>My Account</small> -->
        </span>

        <span id="wishlist">
          <i class="fas fa-heart"></i>
        </span>

        <span id="cart">
          <i class="fas fa-shopping-cart"></i>
        </span>
      </div>
    </div>
    <nav id="main" class="d-flex justify-content-between align-items-center">
      <ul class="d-none d-lg-block">
        <li *ngFor="let cat of category$ | async; index as i;">
          <span data-toggle="collapse" [attr.href]="'#Mcategory1' + i" role="button" aria-expanded="false"
            [attr.aria-controls]="'Mcategory1' + i">
            {{cat.description}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          </span>
          <ul *ngIf="cat.subcategories.length > 0" class="collapse" id="Mcategory1{{i}}">
            <li *ngFor="let subcat of cat.subcategories; index as j;">
              <a data-toggle="collapse" [attr.href]="'#category2' + j" role="button" aria-expanded="false"
                [attr.aria-controls]="'category2' + j">
                {{subcat.description}}
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <a href="#"><img src="\assets\img\claro.gif"></a>
    </nav>
  </header>
</div>