// * {
//     font-family: 'Roboto', sans-serif;
// }

a, a:focus, a:active, a:hover {
    text-decoration: none;
}

h5 {
    &.custom-heading {
        text-transform: uppercase;
        color: white;
        margin: 0;
        margin-bottom: 15px;
        font-size: 18px;
        display: block;
        text-align: center;
        padding: 7px;
        background-image: url('/assets/img/banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-color: blue;
        border: 1px solid rgb(11, 11, 88);
    }
}

main#content {
    padding: 20px 30px;
}
header#main-header {
    background-image: url('/assets/img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: blue;

    > * {
        padding: 0 30px;
    }


    #top-header {
        padding: 7px 30px;
        color: white;
    }

    #bottom-header {
        background: rgb(208,208,208);
        background: linear-gradient(234deg, rgba(208,208,208,1) 0%, rgba(255,255,255,1) 25%, rgba(208,208,208,1) 50%, rgba(255,255,255,1) 75%, rgba(208,208,208,1) 100%);

        a#logo {
            margin: 18px 0;
            display: block;
            width: 220px;
        }

        form#search-form {
            border-radius: 7px;
            border: 1px solid #a1a1a1;
            padding: 7px 30px;
            input[type=search] {
                width: 300px;
                background-color: transparent;
                border: 0px solid transparent;
                outline: none !important;
            }

            button {
                background-color: transparent;
                border: 0px solid transparent;
            }
        }

        #items {
            span:not(:last-child) {
                margin-right: 28px;
            }
            i {
                font-size: 24px;
                margin-right: 7px;
            }
            small {
                font-size: 1rem;
                font-weight: bold;
            }
            #account {
                display: flex;
                align-items: center;
            }
        }

    }

    nav#main {
        padding: 0px 30px;
        position: relative;
        > ul {
            list-style: none;
            margin: 0px;
            padding: 0px;

            > li {
                float: left;

                &.disabled {
                    a {
                        cursor: not-allowed;
                        color: rgba(#fff, 0.7);
                    }
                }
                > a {
                    display: block;
                    padding: 15px 20px;
                    color: white;
                    cursor: pointer;
                
                }
                > .dropdown-menu-del {
                    position: absolute;
                    top: 51px;
                    z-index: 25;
                    left: 0;
                    display: none;
                    width: 100%;
                    padding: 10px 0;
                    background-color: white;
                    justify-content: space-between;
                    box-shadow: 0 0 5px rgba(#000, 0.3);
                    

                    ul {
                        color: black;
                        flex: 0 0 60%;
                        columns: 3;
                        min-height: 300px;
                        max-height: 300px;
                        // display: flex;
                        // flex-wrap: wrap;
                        // align-items: flex-start;
                        // justify-content: flex-start;
                    
                        li {
                            // flex: 0 0 33.3333333%;
                            min-height: 41px;
                            max-height: 41px;
                            a {
                                display: block;
                                padding: 10px 0;
                                color: black;
                            }
                        }
                    }

                    img {
                        flex: 0 0 25%;
                    }
                }
                &:not(.disabled):hover {
                    .dropdown-menu-del {
                        display: flex;
                    }
                }
                > &:first-child {
                    a {
                        padding-left:5px;
                    }
                }
                > &:not(:last-child) {
                    a {
                        border-right: 1px solid rgba(#fff, 0.7);
                    }
                }
            }
        }
    }
}