<div class="container-fluid px-0">
    <div class="furniture-banner">
        <img src="assets\img\corporatevalues.jpg" alt="About Us" class="w-100">
        <div class="container title d-none d-xl-block">
            <h1 class="d-none d-xl-block">Job Opportunities</h1>
        </div>
        <div class="container title d-block d-sm-none">
            <h6 class="">Job Opportunities</h6>
        </div>
    </div>
    <div class="w-100 mb-3 d-none d-sm-block">
        <embed src="assets\pdf\Job Opportunities_1170x1450.pdf#toolbar=0&navpanes=0&scrollbar=0&view=FitH"
            type="application/pdf" width="100%" height="900px" />
    </div>
    <div class="d-block d-sm-none p-2 mText">
        <h1 class="text-center font-weight-bold">Be part of the Deloffice Team!</h1>
        <p class="text-justify">
            At DelOffice, we believe that success is dependent upon the collective performance and behaviour of all of
            our Team
            Members. We strive to create a work environment where motivated Team Members can flourish and succeed to
            their highest
            potential. We recognise that everyone has a contribution to make. We appreciate effort and reward results.
        </p>
        <p class="text-justify">
            <strong>The following vacancies are presently available:</strong>
        </p>

        <ul class="text-dark">
            <li class="text-dark">- Marketing Executive</li>
            <li class="text-dark">- Sales Officers</li>
            <li class="text-dark">- Driver / Helper</li>
        </ul>
        <h3>How to Apply</h3>
        <p class="text-justify">
            Drop your application letter and CV directly to <U>hr@deloffice.mu</U> or submit the inquiry form in
            <a href="/contact-us"><u>Contact Us</u></a> by
            typing
            Career Opportunities as message subject. Looking forward to work and grow together.
        </p>
        <h3 class="text-center">
            It’s time you join now!
        </h3>
    </div>
</div>