@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

a, a:hover, a:focus, a:visited {
    color: inherit;
    text-decoration: none;
}

li{ 
    list-style: none;
    font-size: 14.5px;
    color:white;
   
    a{
        &:hover{

            color:orange;
        }
        
    }
}

.aspect-ratio-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    &.A33-7 {
        padding-top: 21.212121212%;
    }
    &.A2-5 {
        padding-top: 40%;
    }
    &.A3-16 {
        padding-top: 18.75%;
    }
    &.A653-234 {
        padding-top: 35.8346094946%;
    }
    &.R-Advert{
        padding-top: 66.6666666667;
    }
    &.HB-A{
        padding-top: 27.3473108478%;
    }
    &.HB-B{
        padding-top: 84.5070422535%;
    }
    &.HB-C3{
        ///Aspect 3 / 10
        padding-top: 30%;
    }
    &.catBanner-R{
        /// 250x1600 px
        padding-top: 15.625%;
    }
    .frame {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;

        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;       

    }
}