<ng-container>
    <div id="wrapper" class="container-fluid">
        <main id="content" class="row d-flex flex-column flex-nowrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-9">
                        <h2><strong>Cart</strong></h2>
                    </div>

                    <div class="col-3 text-right ">
                        <a (click)="clearCart()" class="btn btn-primary ml-2"><i
                                class="fas fa-times"></i>&nbsp;&nbsp;Clear
                            Cart</a>
                        <a href="#" class="btn btn-primary ml-2"><i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;Send
                            Order</a>
                    </div>

                </div>

            </div>
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead class="thead-dark">
                        <tr class="cart_menu text-center">
                            <th class="image" width="160">
                            </th>
                            <th class="description" width="30%">Name</th>
                            <th class="price">Price</th>
                            <th class="quantity" width="135">Quantity</th>
                            <th class="total">Sub Total</th>
                            <th class="vat">VAT</th>
                            <th class="grandtotal">Total</th>
                            <th class="empty"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let prod of prodList$ | async; index as i;">
                            <tr>
                                <!-- units cart product images -->
                                <td class="cart_product ">
                                    <a routerLink="/product/{{prod.product.id}}">
                                        <img onerror="this.src='/assets/img/product-not-found.jpg'"
                                            src="https://api.deloffice.mu/images/product/{{prod.product.id}}.jpg"
                                            class="d-block img-fluid" width="110" title="" alt="" />
                                    </a>
                                </td>
                                <!-- units cart product description -->
                                <td class="cart_description">
                                    <h4>
                                        <a routerLink="/product/{{prod.product.id}}">
                                            {{prod.product.des1}}</a>
                                    </h4>
                                    <p>
                                        {{prod.product.des2}}<br>
                                        {{prod.product.des3}}<br>
                                        <strong>Product Code : </strong>{{prod.product.id}}
                                    </p>
                                </td>
                                <!-- units cart product price -->
                                <td class="cart_price align-middle text-center">
                                    <div>Rs {{prod.product.mainprice | number: '1.2-2'}}</div>
                                </td>
                                <!-- units cart product qty -->
                                <td class="cart_quantity align-middle">
                                    <input (change)="updateQtyInCart($event, i)" class="form-control text-center"
                                        type="number" value="{{prod.quantity}}">
                                </td>
                                <!-- units cart product subtotal(price * qty)  -->
                                <td class="cart_total align-middle text-center">
                                    <p>Rs {{prod.product.mainprice*prod.quantity | number: '1.2-2'}} </p>
                                </td>
                                <!-- units cart product vat (subtotal *15% ) -->
                                <td class="cart_vat align-middle text-center">
                                    <p>Rs {{(prod.product.mainprice*prod.quantity) * .15 | number: '1.2-2'}}</p>
                                </td>
                                <!-- units cart product grandtotal (subtotal *115% ) -->
                                <td class="cart_grandtotal align-middle text-center">
                                    <p class="cart_total_price">Rs
                                        {{(prod.product.mainprice*prod.quantity) * 1.15 | number: '1.2-2'}}
                                    </p>
                                </td>
                                <!-- units cart product Delete button current item -->
                                <td class="cart_delete align-middle text-center">
                                    <a (click)="removeFromCart(i)" class="btn btn-primary cart_quantity_delete">
                                        <i class="far fa-trash-alt">&nbsp;&nbsp;Remove</i>
                                    </a>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <div class="row my-3 mx-0">
                <div class="col-lg-8 col-md-6 col-xs-12">
                    <h1 class="font-weight-bold textGray">Choose between Pick Up or Delivery</h1>
                    <div class="row">
                        <div class="col-6">
                            <div class="ml-5 custom-control custom-radio">
                                <input type="radio" id="delivery" name="customRadio" class="custom-control-input"
                                    checked>
                                <label class="custom-control-label h4 deliveryOption"
                                    for="delivery"><strong>Delivery</strong></label>
                            </div>
                            <p class="ml-4 mt-3">- Minimum order of <span class="textRed m-0">Rs 2500 (incl.
                                    VAT)</span><br>
                                - Free Delivery for order above <span class="textRed m-0">Rs 5000</span></p>
                        </div>
                        <div class="col-6">
                            <div class="ml-5 custom-control custom-radio">
                                <input type="radio" id="pickup" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label h4 deliveryOption" for="pickup"><strong>Pick
                                        Up</strong></label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <label for="commentArea font-weight-bold">Any comments:</label>
                        <textarea class="form-control" id="commentArea" rows="5"></textarea>
                    </div>
                    <div class="row mt-5 my-3 mx-n4">
                        <div class="col-lg-6 col-md-6 pr-2">
                            <div class="aspect-ratio-container HB-C3">
                                <div class="frame">
                                    <img id="Cart-Banner-A" src="https://via.placeholder.com/1000x300.png"
                                        class="img-fluid">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 pl-2">
                            <div class="aspect-ratio-container HB-C3">
                                <div class="frame">
                                    <img id="Cart-Banner-B" src="https://via.placeholder.com/1000x300.png"
                                        class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 mx-n4">
                        <div class="col-12 ">
                            <img id="Cart-Banner-C" src="https://via.placeholder.com/1600x300.png" class="img-fluid">
                        </div>
                    </div>
                </div>

                <div class="total_area col-lg-4 col-md-6 col-xs-12">
                    <div class="softbackground table-responsive">
                        <form class="cart-sidebar" method="post">
                            <div class="cart-totals">
                                <!--fragment-start-->
                                <div class="content_loading" id="cart_total_loading" style="display: none;">
                                    <div class="loader">
                                        <div class="pulse-loader">Loading…</div>
                                    </div>
                                </div>
                                <table class="table-responsive">
                                    <tbody width="100%">
                                        <tr>
                                            <td>Purchase Total (excl. VAT)</td>
                                            <td class="total text-right"><span class="cart_sub_total">Rs.
                                                    {{purchaseTotal | number:'1.2-2'}}
                                                    <!--v-html--></span></td>
                                        </tr>
                                        <!--v-if-->
                                        <!--v-if-->
                                        <!--v-if-->
                                        <tr>
                                            <td>Delivery Fee</td>
                                            <td class="total text-right"><span class="cart_tax">Rs.
                                                    {{deliveryFee | number:'1.2-2'}}
                                                    <!--v-html--></span></td>
                                        </tr>
                                        <tr class="devider">
                                            <td colspan="2"></td>
                                        </tr>
                                        <tr>
                                            <td>Order Total (excl. VAT)</td>
                                            <td class="total text-right"><span class="cart_tax">Rs.
                                                    {{orderTotalExcl | number:'1.2-2'}}
                                                    <!--v-html--></span></td>
                                        </tr>
                                        <tr>
                                            <td>VAT</td>
                                            <td class="total text-right"><span class="cart_tax">Rs.
                                                    {{vatTotal | number:'1.2-2'}}
                                                    <!--v-html--></span></td>
                                        </tr>

                                        <tr class="devider">
                                            <td colspan="2"></td>
                                        </tr>
                                        <tr class="cart-order-total">
                                            <td class="pr-3">Order Total (incl. VAT)</td>
                                            <td class="total text-right"><span class="cart_total">Rs.
                                                    {{orderTotalIncl | number:'1.2-2'}}
                                                    <!--v-html--></span></td>
                                        </tr>
                                    </tbody>
                                </table>


                                <button type="button" class="btn btn-primary btn-sm btn-block my-3"
                                    name="show-save-cart" data-toggle="modal" data-target="#savecartmodal">
                                    <i class="fa fa-shopping-cart mr-3"></i>Send Order
                                </button>
                                <!--v-if-->

                                <!--v-if-->
                                <!--fragment-end-->
                                <!--v-if-->
                                <!--v-if-->
                            </div>
                            <div class="my-3">
                                <img src="assets\img\delivery.svg" align="right" class="">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</ng-container>

<span *ngIf="cartList$ | async"></span>