<div id="wrapper" class="container-fluid">
    <main id="content" class="row d-flex flex-column flex-nowrap">
        <div class="container-fluid">
            <div class="row" style="padding: 3em;">

                <h2> Cart</h2>
                <div class="float-right">
                    <span>
                        <button>Clear Cart</button>
                    </span>

                    <span>
                        <button><i class="fas fa-cart-plus"></i>Send Order</button>
                    </span>
                </div>

            </div>

        </div>

    </main>
</div>