<div class="container-fluid px-0">
    <div class="furniture-banner">
        <img src="assets\img\anti-bribe.jpg" alt="About Us" class="w-100">
        <div class="container title d-none d-xl-block">
            <h1 class="d-none d-xl-block">Anti-Bribery Policy</h1>
        </div>
        <div class="container title d-block d-sm-none">
            <h6 class="">Anti-Bribery Policy</h6>
        </div>
    </div>
    <div class="w-100 mb-3 d-none d-sm-block">
        <embed src="assets\pdf\Anti Bribery_1170x920.pdf#toolbar=0&navpanes=0&scrollbar=0&view=FitH"
            type="application/pdf" width="100%" height="900px" />
    </div>
    <div class="d-block d-sm-none p-2 mText">
        <p class="text-justify">
            Honesty and Integrity are the foundations of our Corporate Values which is published on our website
            <a href="#"><u>www.deloffice.mu</u></a>
        </p>
        <p class="text-justify">
            We are against the payment of bribes, commissions or other inducements to gain more business.<br>
            We say No To Bribe through an advert on the front page of our web-store to dissuade all those who may hope
            to earn
            something in return of an order.
        </p>
        <p class="text-justify">
            Our company is structurally well organised, fully computerised and operates under stringent systems of
            internal control.
        </p>
        <p class="text-justify">
            Our pricing policy is well structured and all prices are registered in our computerised invoicing system in
            absolute
            transparency to our sales and accounting staffs. Any attempt to inflate price, discount price or issue a
            free of charge
            invoice is immediately detected.
        </p>
        <p class="text-justify">
            Deloffice Ltd has its own dedicated mail server. All incoming and outgoing emails in relation to our sales
            activities
            are copied to all sales staffs and the management. Furthermore, all sales inquiries and discussions are
            registered in
            our ERM system.
        </p>
        <p class="text-justify">
            The employment of accounting professionals, proper segregation of duties and established approval procedures
            in our
            payment function eliminate any attempt to conclude unethical transactions in our company.
        </p>
        <p class="text-justify">
            Despite the clarity of our Anti-Bribery Policy, we regularly remind our employees that we do not and shall
            not entertain
            any payment of commission whatever the size of the order. In addition, we consider any promise of commission
            by one of
            our employees as a gross misconduct.
        </p>
        <p class="text-justify">
            Faithful to our tradition, we greet and thank our customers for their business and support at the end of
            each year.
            While doing so, we take care not to give to our customers any gift which may be considered or perceived as
            an inducement
            for more business.
        </p>
        <p class="text-justify">
            Our financial statements, audited by independent audit firm, shows a true and fair view and neither the
            company nor its
            directors have been convicted for any fraudulent, bribery or money laundering activity.
        </p>
        <p class="text-justify">
            Both the company and the group are profitable and we aim to be actively involved in CSR activities, helping
            the
            needy kids in their school supply. One For The Kids, the CSR Program of Deloffice, has been set up for this
            purpose.
        </p>
        <p class="text-justify">
            The directors of Deloffice Ltd strongly believe in business ethics and good Corporate Governance. Trust,
            honesty and
            integrity are at the center of every project we undertake and it is with this business philosophy that we
            intend to grow
            and to succeed.
        </p>
    </div>
</div>