<div class="container-fluid px-0">
    <div class="furniture-banner">
        <img src="assets\img\corporatevalues.jpg" alt="About Us" class="w-100">
        <div class="container title d-none d-xl-block">
            <h1 class="d-none d-xl-block">Our Corporate Values</h1>
        </div>
        <div class="container title d-block d-sm-none">
            <h6 class="">Our Corporate Values</h6>
        </div>
    </div>
    <div class="w-100 mb-3 d-none d-sm-block">
        <img src="assets\img\.png" alt="Corporate Values" class="w-100">
    </div>
    <div class="d-block d-sm-none p-2">
        <p class="text-justify">
            We strongly believe in corporate values and business ethics. Our business is based on a relationship of
            trust, honesty
            and integrity between both our suppliers and customers.
            Our customers are the lifeblood of our business. We are conscious that our success depends on our ability to
            meet and,
            where possible, to exceed their expectations. We never forget that they come to us by choice and that we
            need to
            maintain their loyalty and trust. It is only by satisfying our customers first that we shall have the
            opportunity to
            satisfy the needs of our other stakeholders.
        </p>
        <p class="text-justify">
            Our supplier partners are our allies in serving the interests of our customers. We treat them with respect,
            fairness and
            integrity at all times and expect the same in return. We seek partnership with suppliers that share our
            concern for
            social responsibility and the environment. We partner with our suppliers to educate our customers on the use
            and
            benefits of our products to promote a safe and healthy environment.
        </p>
        <p class="text-justify">
            Our success is dependent upon the collective performance and behaviour of all of our Team Members. We strive
            to create a
            work environment where motivated Team Members can flourish and succeed to their highest potential. We
            recognise that
            everyone has a contribution to make. We appreciate effort and reward results.
        </p>
        <p class="text-justify">
            Friendly competition within the company helps us to continually improve our web store. We constantly
            innovate and raise
            our service standards and are not afraid to try new ideas and concepts. We learn from our customers and
            suppliers
            everyday and keep getting better at what we do.
        </p>
        <p class="text-justify">
            We celebrate success and see failures as opportunities for growth. We recognise that we are responsible for
            our own
            happiness and success. We believe that profits are essential to creating wealth for growth, prosperity and
            job
            satisfaction. As the leader in the paper and stationery market, we are aware of our responsibility to take
            challenges
            and to experiment.
        </p>
        <h1 class="font-weight-bold text-center">We learn to think differently. We are passionately curious!</h1>
    </div>
</div>